<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Tin tức chi tiết</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../asset/css/bootstrap.css">
    <link rel="stylesheet" href="../asset/css/animate.min.css">
    <link rel="stylesheet" href="../asset/css/font-awesome.min.css">
    <link rel="stylesheet" href="../asset/css/lightslider.min.css">
    <link rel="stylesheet" href="../asset/css/jquery-ui.css">
    <link rel="stylesheet" href="../asset/css/style.css">
    <link rel="stylesheet" href="../asset/css/reponsive.css">
    <link rel="stylesheet" href="../asset/css/demo.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
       <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
       <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
     <![endif]-->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/lightslider.min.js"></script>
    <script src="js/jquery.sticky.js"></script>
    <script src="js/jquery-ui.js"></script>
</head>

<body>
    <header>
        <div class="header-top">
            <div class="container">
                <div class="left">
                    <div class="item">
                        <div class="avt">
                            <img src="../asset/img/ic-phone-header-top.png" alt="">
                        </div>
                        <a href="">
                            <span>0988 888 888</span>
                        </a>
                    </div>
                    <div class="item">
                        <div class="avt">
                            <img src="../asset/img/ic-email-header-top.png" alt="">
                        </div>
                        <a href="">vccorp@gmail.com</a>
                    </div>
                </div>
                <div class="right">
                    <ul>
                        <li>
                            <a href="">Giới Thiệu</a>
                        </li>
                        <li class="active">
                            <a href="">Tin tức du lịch</a>
                        </li>
                        <li>
                            <a href="">Liên hệ</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="header">
            <div class="container">
                <div class="logo">
                    <a href="index.html" class="img">
                        <img src="../asset/img/logo.jpg" alt="" style="border-radius: 50px;">
                    </a>
                </div>
                <div id="sticker">
                    <div class="sticker-container">
                        <div class="overlay-sticker"></div>
                        <div class="warpper">
                            <div class="head-sticker">
                                <p>Danh mục</p>
                                <div id="touch-out">
                                </div>
                            </div>
                            <div class="body-sticker">
                                <ul class="tbl">
                                    <li class="tbl-cell">
                                        <a href="index.html">Trang chủ</a>
                                    </li>
                                    <li class="tbl-cell">
                                        <a href="category-post.html">Thời sự</a>
                                        <ul>
                                            <li>
                                                <a href="category-post.html">demo</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="tbl-cell">
                                        <a href="category-post.html">Du lịch</a>
                                    </li>
                                    <li class="tbl-cell">
                                        <a href="category-post.html">Thể thao</a>
                                    </li>
                                    <li class="tbl-cell">
                                        <a href="category-post.html">Giáo dục</a>
                                    </li>
                                    <li class="tbl-cell">
                                        <a href="category-post.html">Giải trí</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- <div class="footer-sticker">
                                <ul class="mb-lang tbl">
                                    <li class="tbl-cell">
                                        <a href="#" class="langvi">VN</a>
                                    </li>
                                    <li class="tbl-cell">
                                        <a href="#" class="langen">EN</a>
                                    </li>
                                </ul>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div id="touch-on">
                    <span></span>
                </div>
            </div>
        </div>
    </header>
    <div class="banner">
        <div class="banner-img">
            <img src="../asset/img/banner-tour.png" alt="">
        </div>
        <div class="search-tour">
            <div class="content">
                <div class="form-search-tour">
                    <form action="">
                        <div class="insize">
                            <div class="input-search-tour input-search-tour-v2">
                                <input type="text" placeholder="Tìm kiếm điểm đến, hoạt động">
                            </div>
                            <button>Tìm Kiếm</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="body-page">
        <div class="container">
            <div id="map-link-bar">
                <ul>
                    <li>
                        <a href="">Trang chủ</a>
                    </li>
                    <li>
                        <a href="">Tin tức du lịch</a>
                    </li>
                    <li>
                        <a href="">Những địa điểm sống ảo ở Hà Giang không thể bỏ lỡ trong mùa Tam Giác Mạch</a>
                    </li>
                </ul>
            </div>
            <div class="row row-85">
                <div class="col-md-9 col-child">
                    <div class="ss3 ss3a">
                        <div class="title title2">
                            <h1 class="title_v3a">
                                Những địa điểm sống ảo ở Hà Giang không thể bỏ lỡ trong mùa Tam Giác Mạch
                            </h1>
                            <ul class="date-view">
                                <li>
                                    <div class="ic-avt">
                                        <img src="../asset/img/ic-departure.png" alt="">
                                    </div>
                                    <p>20:04</p>
                                    <p>9/10/2018</p>
                                </li>
                            </ul>
                        </div>
                        <div class="box-related-news">
                            <ul>
                                <li>
                                    <a href="">Em nhất định phải đến Hà Giang để ngắm hoa tam giác mạch nở rộ khắp trời
                                        !</a>
                                </li>
                                <li>
                                    <a href="">Ngỡ ngàng Phố cổ Đồng Văn hơn 100 năm tuổi vẫn còn nguyên nét kiến trúc
                                        cổ kính xưa!</a>
                                </li>
                                <li>
                                    <a href="">Tận hưởng trọn vẹn kỳ nghỉ dịp tết Dương lịch 2019 với những địa điểm
                                        không thể thú vị hơn</a>
                                </li>
                            </ul>
                        </div>
                        <div class="text-news" style="font-family: 'Arial',sans-serif;">
                            <br>
                            <p style="font-weight: bold; line-height: 24px; text-align: justify;">
                                Mùa thu đông Hà Giang được ví như thời điểm cho ra đời những tấm ảnh ngàn like cực kì
                                xịn xò với có quá nhiều góc để những người ham mê xê dịch, muốn khám phá một mảnh đất
                                mới có thể tìm đến tác nghiệp. Dưới đây là 5 địa điểm sống ảo Hà Giang nhất định phải
                                tới.
                            </p>
                            <br>
                            <p style=" line-height: 24px; text-align: justify;">Mùa thu đông Hà Giang được ví như thời
                                điểm cho ra đời những tấm ảnh ngàn like cực kì xịn xò với có quá nhiều góc để những
                                người ham mê xê dịch, muốn khám phá một mảnh đất mới có thể tìm đến tác nghiệp. Dưới đây
                                là 5 địa điểm sống ảo Hà Giang nhất định phải tới.</p>
                            <br>
                            <p style="font-weight: bold;  line-height: 24px; text-align: justify;">1.Những cánh đồng hoa
                                Tam Giác Mạch</p>
                            <br>
                            <p style="text-align: center;">
                                <img src="../asset/img/detail-news-1.png" alt="" style="max-width: 100%;">
                            </p><br>
                            <p style="text-align: center">Cánh đồng hoa bảng lảng khói sương (Ảnh: thi_tenshi)</p>
                            <br>
                            <p style="text-align: justify;line-height: 24px;">
                                Tháng 10. Tháng 11 là thời điểm hoa tam giác mạch nở đẹp nhất ở Hà Giang và một số tỉnh
                                miền núi phía Bắc. Mùa hoa tam giác mạch Hà Giang nổi tiếng tới nỗi, có nguyên một Lễ
                                hội hoa tam giác mạch diễn ra cực lớn trong năm. Địa hình cao nguyên đá với những dạng
                                địa hình độc đáo cũng biến những cánh đồng hoa tam giác mạch độc và lạ hơn những khu vực
                                khác. Vì ở đây không chỉ là những “cánh đồng hoa “ và còn có cả “ruộng bậc thang tam
                                giác mạch” do đây là loài hoa gắn bó cực kì mật thiết với cuộc sống của đồng bào. Bất kì
                                nơi nào có khoảnh đất trống, những hạt mầm lại được gieo xuống, cứ đúng thời điểm là
                                bung tỏa.
                            </p>
                        </div>
                        <div class="btn-social-v2">
                            <img src="../asset/img/btn-social-v2.png" alt="">
                        </div>
                    </div>
                    <div class="ss3 ss3a">
                        <div class="title">
                            <h2 class="title_v3a">
                                Các tin liên quan
                            </h2>
                        </div>
                        <ul class="list-news-v2">
                            <li>
                                <a href=""><i class="fa fa-chevron-right" aria-hidden="true"></i>Em nhất định phải đến
                                    Hà Giang để ngắm hoa tam giác mạch nở rộ khắp trời !</a>
                            </li>
                            <li>
                                <a href=""><i class="fa fa-chevron-right" aria-hidden="true"></i>Ngỡ ngàng Phố cổ Đồng
                                    Văn hơn 100 năm tuổi vẫn còn nguyên nét kiến trúc cổ kính xưa!</a>
                            </li>
                            <li>
                                <a href=""><i class="fa fa-chevron-right" aria-hidden="true"></i>Những địa điểm sống ảo
                                    ở Hà Giang không thể bỏ lỡ trong mùa tam giác mạch</a>
                            </li>
                            <li>
                                <a href=""><i class="fa fa-chevron-right" aria-hidden="true"></i>Tận hưởng trọn vẹn kỳ
                                    nghỉ dịp tết Dương lịch 2019 với những địa điểm không thể thú vị hơn</a>
                            </li>
                            <li>
                                <a href=""><i class="fa fa-chevron-right" aria-hidden="true"></i>Em nhất định phải đến
                                    Hà Giang để ngắm hoa tam giác mạch nở rộ khắp trời !</a>
                            </li>
                            <li>
                                <a href=""><i class="fa fa-chevron-right" aria-hidden="true"></i>Ngỡ ngàng Phố cổ Đồng
                                    Văn hơn 100 năm tuổi vẫn còn nguyên nét kiến trúc cổ kính xưa!</a>
                            </li>
                            <li>
                                <a href=""><i class="fa fa-chevron-right" aria-hidden="true"></i>Những địa điểm sống ảo
                                    ở Hà Giang không thể bỏ lỡ trong mùa tam giác mạch</a>
                            </li>
                            <li>
                                <a href=""><i class="fa fa-chevron-right" aria-hidden="true"></i>Tận hưởng trọn vẹn kỳ
                                    nghỉ dịp tết Dương lịch 2019 với những địa điểm không thể thú vị hơn</a>
                            </li>
                        </ul>
                    </div>
                    <div class="ss3">
                        <div class="title">
                            <h2 class="title_v3a">
                                Tour khuyến mại
                            </h2>
                        </div>
                        <div class="slider-tour_v1 slider-tour_v1a">
                            <ul class="list-item list-root">
                                <li>
                                    <div class="item">
                                        <div class="avt">
                                            <a href="" class="img">
                                                <img src="../asset/img/item-slider-tour-v1-4.png" alt="">
                                            </a>
                                            <div class="desc-avt">
                                                <div class="price">
                                                    <span class="new-price">2.381.000đ</span>
                                                    <span class="old-price">2.580.000đ</span>
                                                </div>
                                                <div class="btn-see-more">
                                                    <a href="">Chi tiết</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="desc">
                                            <h3>
                                                <a href="">Du lịch Đà Nẵng - Sơn Trà - Hội An - Bà Nà - Huế</a>
                                            </h3>
                                            <ul class="list-info-summary">
                                                <li>
                                                    <div class="ic-avt">
                                                        <img src="../asset/img/ic-departure.png" alt="">
                                                    </div>
                                                    <p>Khời hành: 12,26/10.</p>
                                                </li>
                                                <li>
                                                    <div class="ic-avt">
                                                        <img src="../asset/img/ic-time.png" alt="">
                                                    </div>
                                                    <p>Thời gian: 3 ngày 2 đêm</p>
                                                </li>
                                                <li>
                                                    <div class="ic-avt">
                                                        <img src="../asset/img/ic-planes.png" alt="">
                                                    </div>
                                                    <p>Phương tiện: máy bay</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item">
                                        <div class="avt">
                                            <a href="" class="img">
                                                <img src="../asset/img/item-slider-tour-v1-5.png" alt="">
                                            </a>
                                            <div class="desc-avt">
                                                <div class="price">
                                                    <span class="new-price">6.500.000đ</span>
                                                    <span class="old-price">7.580.000đ</span>
                                                </div>
                                                <div class="btn-see-more">
                                                    <a href="">Chi tiết</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="desc">
                                            <h3>
                                                <a href="">Du lịch Châu Đốc: Rừng tràm Trà Sư (Tour Tiết Kiệm)</a>
                                            </h3>
                                            <ul class="list-info-summary">
                                                <li>
                                                    <div class="ic-avt">
                                                        <img src="../asset/img/ic-departure.png" alt="">
                                                    </div>
                                                    <p>Khời hành: 12,26/10.</p>
                                                </li>
                                                <li>
                                                    <div class="ic-avt">
                                                        <img src="../asset/img/ic-time.png" alt="">
                                                    </div>
                                                    <p>Thời gian: 3 ngày 2 đêm</p>
                                                </li>
                                                <li>
                                                    <div class="ic-avt">
                                                        <img src="../asset/img/ic-oto.png" alt="">
                                                    </div>
                                                    <p>Phương tiện: ô tô</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item">
                                        <div class="avt">
                                            <a href="" class="img">
                                                <img src="../asset/img/item-slider-tour-v1-6.png" alt="">
                                            </a>
                                            <div class="desc-avt">
                                                <div class="price">
                                                    <span class="new-price">18.900.000đ</span>
                                                    <span class="old-price">20.900.000đ</span>
                                                </div>
                                                <div class="btn-see-more">
                                                    <a href="">Chi tiết</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="desc">
                                            <h3>
                                                <a href="">Du lịch Đà Nẵng - Bà Nà - Hội An - Huế - Động Phong Nha</a>
                                            </h3>
                                            <ul class="list-info-summary">
                                                <li>
                                                    <div class="ic-avt">
                                                        <img src="../asset/img/ic-departure.png" alt="">
                                                    </div>
                                                    <p>Khời hành: 12,26/10.</p>
                                                </li>
                                                <li>
                                                    <div class="ic-avt">
                                                        <img src="../asset/img/ic-time.png" alt="">
                                                    </div>
                                                    <p>Thời gian: 3 ngày 2 đêm</p>
                                                </li>
                                                <li>
                                                    <div class="ic-avt">
                                                        <img src="../asset/img/ic-planes.png" alt="">
                                                    </div>
                                                    <p>Phương tiện: máy bay</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <script>
                                $(document).ready(function () {
                                    var Isv2a = $('.slider-tour_v1 ul.list-item>li .item .avt .img').width() / 1.66666667;
                                    $('.slider-tour_v1 ul.list-item>li .item .avt .img').height(Isv2a);
                                });
                            </script>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-child">
                    <div class="box-right-bar">
                        <div class="title">
                            <h2 class="title-right-v1">
                                <a href="">Tin tức</a>
                            </h2>
                        </div>
                        <ul class="list-tour-right_v1 list-tour-right_v1a">
                            <li>
                                <span>
                                    <a href="">Tin tức du lịch</a>
                                </span>
                            </li>
                            <li>
                                <span>
                                    <a href="">Cẩm nang du lịch</a>
                                </span>
                            </li>
                            <li>
                                <span>
                                    <a href="">Kinh nghiệm du lịch</a>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="box-right-bar">
                        <div class="title">
                            <h2 class="title-right-v1">
                                <a href="">Xem nhiều nhất</a>
                            </h2>
                        </div>
                        <ul class="list-news-right_v1">
                            <li>
                                <div class="avt">
                                    <a href="" class="img">
                                        <img src="../asset/img/item-news-right-v1-1.png" alt="">
                                    </a>
                                </div>
                                <div class="desc">
                                    <a href="">Hành trình du lịch Đông Bắc của những đôi chân không</a>
                                    <ul class="date-view">
                                        <li>
                                            <div class="ic-avt">
                                                <img src="../asset/img/ic-departure.png" alt="">
                                            </div>
                                            <p>9/10/2018</p>
                                        </li>
                                        <li>
                                            <div class="ic-avt">
                                                <img src="../asset/img/ic-view.png" alt="">
                                            </div>
                                            <p>22</p>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="avt">
                                    <a href="" class="img">
                                        <img src="../asset/img/item-news-right-v1-1.png" alt="">
                                    </a>
                                </div>
                                <div class="desc">
                                    <a href="">Hành trình du lịch Đông Bắc của những đôi chân không</a>
                                    <ul class="date-view">
                                        <li>
                                            <div class="ic-avt">
                                                <img src="../asset/img/ic-departure.png" alt="">
                                            </div>
                                            <p>9/10/2018</p>
                                        </li>
                                        <li>
                                            <div class="ic-avt">
                                                <img src="../asset/img/ic-view.png" alt="">
                                            </div>
                                            <p>22</p>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="avt">
                                    <a href="" class="img">
                                        <img src="../asset/img/item-news-right-v1-1.png" alt="">
                                    </a>
                                </div>
                                <div class="desc">
                                    <a href="">Hành trình du lịch Đông Bắc của những đôi chân không</a>
                                    <ul class="date-view">
                                        <li>
                                            <div class="ic-avt">
                                                <img src="../asset/img/ic-departure.png" alt="">
                                            </div>
                                            <p>9/10/2018</p>
                                        </li>
                                        <li>
                                            <div class="ic-avt">
                                                <img src="../asset/img/ic-view.png" alt="">
                                            </div>
                                            <p>22</p>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="avt">
                                    <a href="" class="img">
                                        <img src="../asset/img/item-news-right-v1-1.png" alt="">
                                    </a>
                                </div>
                                <div class="desc">
                                    <a href="">Hành trình du lịch Đông Bắc của những đôi chân không</a>
                                    <ul class="date-view">
                                        <li>
                                            <div class="ic-avt">
                                                <img src="../asset/img/ic-departure.png" alt="">
                                            </div>
                                            <p>9/10/2018</p>
                                        </li>
                                        <li>
                                            <div class="ic-avt">
                                                <img src="../asset/img/ic-view.png" alt="">
                                            </div>
                                            <p>22</p>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="avt">
                                    <a href="" class="img">
                                        <img src="../asset/img/item-news-right-v1-1.png" alt="">
                                    </a>
                                </div>
                                <div class="desc">
                                    <a href="">Hành trình du lịch Đông Bắc của những đôi chân không</a>
                                    <ul class="date-view">
                                        <li>
                                            <div class="ic-avt">
                                                <img src="../asset/img/ic-departure.png" alt="">
                                            </div>
                                            <p>9/10/2018</p>
                                        </li>
                                        <li>
                                            <div class="ic-avt">
                                                <img src="../asset/img/ic-view.png" alt="">
                                            </div>
                                            <p>22</p>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="avt">
                                    <a href="" class="img">
                                        <img src="../asset/img/item-news-right-v1-1.png" alt="">
                                    </a>
                                </div>
                                <div class="desc">
                                    <a href="">Hành trình du lịch Đông Bắc của những đôi chân không</a>
                                    <ul class="date-view">
                                        <li>
                                            <div class="ic-avt">
                                                <img src="../asset/img/ic-departure.png" alt="">
                                            </div>
                                            <p>9/10/2018</p>
                                        </li>
                                        <li>
                                            <div class="ic-avt">
                                                <img src="../asset/img/ic-view.png" alt="">
                                            </div>
                                            <p>22</p>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                        <script>
                            $(document).ready(function () {
                                var Inr1h = $('.box-right-bar .list-news-right_v1>li>.avt').width();
                                $('.box-right-bar .list-news-right_v1>li>.avt').height(Inr1h);
                            });
                        </script>
                    </div>
                    <div class="box-right-bar">
                        <div class="title">
                            <h2 class="title-right-v1">
                                <a href="">Xem nhiều nhất</a>
                            </h2>
                        </div>
                        <ul class="list-news-right_v1">
                            <li>
                                <div class="avt">
                                    <a href="" class="img">
                                        <img src="../asset/img/item-news-right-v1-1.png" alt="">
                                    </a>
                                </div>
                                <div class="desc">
                                    <a href="">Hành trình du lịch Đông Bắc của những đôi chân không</a>
                                    <ul class="date-view">
                                        <li>
                                            <div class="ic-avt">
                                                <img src="../asset/img/ic-departure.png" alt="">
                                            </div>
                                            <p>9/10/2018</p>
                                        </li>
                                        <li>
                                            <div class="ic-avt">
                                                <img src="../asset/img/ic-view.png" alt="">
                                            </div>
                                            <p>22</p>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="avt">
                                    <a href="" class="img">
                                        <img src="../asset/img/item-news-right-v1-1.png" alt="">
                                    </a>
                                </div>
                                <div class="desc">
                                    <a href="">Hành trình du lịch Đông Bắc của những đôi chân không</a>
                                    <ul class="date-view">
                                        <li>
                                            <div class="ic-avt">
                                                <img src="../asset/img/ic-departure.png" alt="">
                                            </div>
                                            <p>9/10/2018</p>
                                        </li>
                                        <li>
                                            <div class="ic-avt">
                                                <img src="../asset/img/ic-view.png" alt="">
                                            </div>
                                            <p>22</p>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="avt">
                                    <a href="" class="img">
                                        <img src="../asset/img/item-news-right-v1-1.png" alt="">
                                    </a>
                                </div>
                                <div class="desc">
                                    <a href="">Hành trình du lịch Đông Bắc của những đôi chân không</a>
                                    <ul class="date-view">
                                        <li>
                                            <div class="ic-avt">
                                                <img src="../asset/img/ic-departure.png" alt="">
                                            </div>
                                            <p>9/10/2018</p>
                                        </li>
                                        <li>
                                            <div class="ic-avt">
                                                <img src="../asset/img/ic-view.png" alt="">
                                            </div>
                                            <p>22</p>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="avt">
                                    <a href="" class="img">
                                        <img src="../asset/img/item-news-right-v1-1.png" alt="">
                                    </a>
                                </div>
                                <div class="desc">
                                    <a href="">Hành trình du lịch Đông Bắc của những đôi chân không</a>
                                    <ul class="date-view">
                                        <li>
                                            <div class="ic-avt">
                                                <img src="../asset/img/ic-departure.png" alt="">
                                            </div>
                                            <p>9/10/2018</p>
                                        </li>
                                        <li>
                                            <div class="ic-avt">
                                                <img src="../asset/img/ic-view.png" alt="">
                                            </div>
                                            <p>22</p>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="avt">
                                    <a href="" class="img">
                                        <img src="../asset/img/item-news-right-v1-1.png" alt="">
                                    </a>
                                </div>
                                <div class="desc">
                                    <a href="">Hành trình du lịch Đông Bắc của những đôi chân không</a>
                                    <ul class="date-view">
                                        <li>
                                            <div class="ic-avt">
                                                <img src="../asset/img/ic-departure.png" alt="">
                                            </div>
                                            <p>9/10/2018</p>
                                        </li>
                                        <li>
                                            <div class="ic-avt">
                                                <img src="../asset/img/ic-view.png" alt="">
                                            </div>
                                            <p>22</p>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="avt">
                                    <a href="" class="img">
                                        <img src="../asset/img/item-news-right-v1-1.png" alt="">
                                    </a>
                                </div>
                                <div class="desc">
                                    <a href="">Hành trình du lịch Đông Bắc của những đôi chân không</a>
                                    <ul class="date-view">
                                        <li>
                                            <div class="ic-avt">
                                                <img src="../asset/img/ic-departure.png" alt="">
                                            </div>
                                            <p>9/10/2018</p>
                                        </li>
                                        <li>
                                            <div class="ic-avt">
                                                <img src="../asset/img/ic-view.png" alt="">
                                            </div>
                                            <p>22</p>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                        <script>
                            $(document).ready(function () {
                                var Inr1h = $('.box-right-bar .list-news-right_v1>li>.avt').width();
                                $('.box-right-bar .list-news-right_v1>li>.avt').height(Inr1h);
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <footer>
            <div id="menu-footer">
                <div class="container">
                    <ul>
                        <li>
                            <a href="">Trang chủ</a>
                        </li>
                        <li>
                            <a href="">Du lịch</a>
                        </li>
                        <li>
                            <a href="">Thời sự</a>
                        </li>
                        <li>
                            <a href="">Thể thao</a>
                        </li>
                        <li>
                            <a href="">Giáo dục</a>
                        </li>
                        <li>
                            <a href="">Giải trí</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="regis-promo">
                <div class="container">
                    <div class="form-regis-promo">
                        <form action="">
                            <label for="">Đăng ký nhận tin khuyến mãi</label>
                            <input type="text" placeholder="Nhập E-mail của bạn">
                            <button>Đăng ký</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="container">
                    <div class="item item-1">
                        <div class="box-item">
                            <div class="logo-footer">
                                <a href="" class="img">
                                    <img src="../asset/img/logo-footer.png" alt="">
                                </a>
                            </div>
                            <div class="vote-star-footer">
                                <div class="avt">
                                    <img src="../asset/img/vote-star-v1.png" alt="">
                                </div>
                                <div class="desc">
                                    <p class="number">16,668</p>
                                    <p>Đánh giá</p>
                                </div>
                            </div>
                            <ul class="link-social-network">
                                <li>
                                    <a href="" class="ic-fb-ft"></a>
                                </li>
                                <li>
                                    <a href="" class="ic-tw-ft"></a>
                                </li>
                                <li>
                                    <a href="" class="ic-gp-ft"></a>
                                </li>
                                <li>
                                    <a href="" class="ic-rss-ft"></a>
                                </li>
                                <li>
                                    <a href="" class="ic-yt-ft"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="item item-1">
                        <div class="box-item">
                            <div class="title">
                                <p>Thông tin cần biết</p>
                            </div>
                            <ul class="list-footer-v1">
                                <li>
                                    <a href="">Chính sách bảo mật thông tin</a>
                                </li>
                                <li>
                                    <a href="">Điều kiện và Điều khoản</a>
                                </li>
                                <li>
                                    <a href="">Phương thức thanh toán</a>
                                </li>
                                <li>
                                    <a href="">Bảo hiểm du lịch</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="item item-2">
                        <div class="box-item">
                            <div class="title">
                                <p>Thông tin hữu ích</p>
                            </div>
                            <ul class="list-footer-v1">
                                <li>
                                    <a href="">Về VCCorp</a>
                                </li>
                                <li>
                                    <a href="">Góc truyền thông</a>
                                </li>
                                <li>
                                    <a href="">Tuyển dụng</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="item item-2">
                        <div class="box-item">
                            <div class="title">
                                <p>Địa chỉ công ty</p>
                            </div>
                            <ul class="list-footer-v2">
                                <li>
                                    <p><i class="fa fa-map-marker" aria-hidden="true"></i>85 Vũ Trọng Phụng, Thanh
                                        Xuân, Hà Nội</p>
                                </li>
                                <li>
                                    <p><i class="fa fa-phone" aria-hidden="true"></i>024.6281.6212</p>
                                </li>
                                <li>
                                    <p><i class="fa fa-fax" aria-hidden="true"></i>024.6281.6210</p>
                                </li>
                                <li>
                                    <p><i class="fa fa-envelope" aria-hidden="true"></i>vccorp@gmail.com</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom-footer">
                <div class="container">
                    <div class="item left">
                        <div class="title">
                            <p>Công ty VCCorp</p><span>( INNOVATION. Non-stop )</span>
                        </div>
                        <P></P>
                        <p></p>
                    </div>
                    <div class="item right">
                        <div class="img-bct">
                            <img src="../asset/img/bo-cong-thuong.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <script src="js/wow.min.js"></script>
        <script src="js/custom.js"></script>
        <script src="../js/touch.js"></script>
</body>

</html>