<div id="body-page">
    <div class="container">
        <div id="map-link-bar">
            <ul>
                <li>
                    <a routerLink="/home">Trang chủ</a>
                </li>
                <li>
                    <a routerLink="/category/{{ post?.category.id }}">{{ post?.category.name }}</a>
                </li>
                <li>
                    <a routerLink="/detail-post/{{ post?.id }}">{{ post?.title }}</a>
                </li>
            </ul>
        </div>
        <div class="row row-85">
            <div class="col-md-9 col-child">
                <div class="ss3 ss3a">
                    <div class="title title2">
                        <h1 class="title_v3a">
                            {{ post?.title }}
                        </h1>
                        <ul class="date-view">
                            <li>
                                <div class="ic-avt">
                                    <img src="../../../assets/img/ic-departure.png" alt="">
                                </div>
                                <p>20:04</p>
                                <p>9/10/2018</p>
                            </li>
                        </ul>
                    </div>
                    <div class="box-related-news">
                        <ul>
                            <li *ngFor="let reponDataPostHeader of reponDataPostsHeader">
                                <a routerLink="/detail-post/{{ reponDataPostHeader.id }}">{{ reponDataPostHeader.title }}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="text-news" style="font-family: 'Arial',sans-serif;"><br>
                        <span [innerHtml]="getSanitizedHtml(post?.body)" class="responsive-img-span"></span>
                    </div>
                    <div class="btn-social-v2">
                        <img src="../../../assets/img/btn-social-v2.png" alt="">
                    </div>
                </div>
                <div class="ss3 ss3a">
                    <div class="title">
                        <h2 class="title_v3a">
                            Các tin liên quan
                        </h2>
                    </div>
                    <ul class="list-news-v2">
                        <li *ngFor="let reponDataPostFooter of reponDataPostsFooter">
                            <a routerLink="/detail-post/{{ reponDataPostFooter.id }}"><i class="fa fa-chevron-right"
                                    aria-hidden="true"></i>{{ reponDataPostFooter.title }}</a>
                        </li>
                    </ul>
                </div>
                <div class="title">
                    <h2 class="title_v3a">
                        Tour khuyến mại
                    </h2>
                </div>
                <div class="slider-tour_v1 slider-tour_v1a">
                    <ul class="list-item list-root">
                        <li>
                            <div class="item">
                                <div class="avt">
                                    <a routerLink="/detail-post" class="img">
                                        <img src="../../../assets/img/item-slider-tour-v1-4.png" alt="">
                                    </a>
                                    <div class="desc-avt">
                                        <div class="price">
                                            <span class="new-price">2.381.000đ</span>
                                            <span class="old-price">2.580.000đ</span>
                                        </div>
                                        <div class="btn-see-more">
                                            <a routerLink="/detail-post">Chi tiết</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="desc">
                                    <h3>
                                        <a routerLink="/detail-post">Du lịch Đà Nẵng - Sơn Trà - Hội An - Bà Nà -
                                            Huế</a>
                                    </h3>
                                    <ul class="list-info-summary">
                                        <li>
                                            <div class="ic-avt">
                                                <img src="../../../assets/img/ic-departure.png" alt="">
                                            </div>
                                            <p>Khời hành: 12,26/10.</p>
                                        </li>
                                        <li>
                                            <div class="ic-avt">
                                                <img src="../../../assets/img/ic-time.png" alt="">
                                            </div>
                                            <p>Thời gian: 3 ngày 2 đêm</p>
                                        </li>
                                        <li>
                                            <div class="ic-avt">
                                                <img src="../../../assets/img/ic-planes.png" alt="">
                                            </div>
                                            <p>Phương tiện: máy bay</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item">
                                <div class="avt">
                                    <a routerLink="/detail-post" class="img">
                                        <img src="../../../assets/img/item-slider-tour-v1-5.png" alt="">
                                    </a>
                                    <div class="desc-avt">
                                        <div class="price">
                                            <span class="new-price">6.500.000đ</span>
                                            <span class="old-price">7.580.000đ</span>
                                        </div>
                                        <div class="btn-see-more">
                                            <a routerLink="/detail-post">Chi tiết</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="desc">
                                    <h3>
                                        <a routerLink="/detail-post">Du lịch Châu Đốc: Rừng tràm Trà Sư (Tour Tiết
                                            Kiệm)</a>
                                    </h3>
                                    <ul class="list-info-summary">
                                        <li>
                                            <div class="ic-avt">
                                                <img src="../../../assets/img/ic-departure.png" alt="">
                                            </div>
                                            <p>Khời hành: 12,26/10.</p>
                                        </li>
                                        <li>
                                            <div class="ic-avt">
                                                <img src="../../../assets/img/ic-time.png" alt="">
                                            </div>
                                            <p>Thời gian: 3 ngày 2 đêm</p>
                                        </li>
                                        <li>
                                            <div class="ic-avt">
                                                <img src="../../../assets/img/ic-oto.png" alt="">
                                            </div>
                                            <p>Phương tiện: ô tô</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item">
                                <div class="avt">
                                    <a routerLink="/detail-post" class="img">
                                        <img src="../../../assets/img/item-slider-tour-v1-6.png" alt="">
                                    </a>
                                    <div class="desc-avt">
                                        <div class="price">
                                            <span class="new-price">18.900.000đ</span>
                                            <span class="old-price">20.900.000đ</span>
                                        </div>
                                        <div class="btn-see-more">
                                            <a routerLink="/detail-post">Chi tiết</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="desc">
                                    <h3>
                                        <a routerLink="/detail-post">Du lịch Đà Nẵng - Bà Nà - Hội An - Huế - Động Phong
                                            Nha</a>
                                    </h3>
                                    <ul class="list-info-summary">
                                        <li>
                                            <div class="ic-avt">
                                                <img src="../../../assets/img/ic-departure.png" alt="">
                                            </div>
                                            <p>Khời hành: 12,26/10.</p>
                                        </li>
                                        <li>
                                            <div class="ic-avt">
                                                <img src="../../../assets/img/ic-time.png" alt="">
                                            </div>
                                            <p>Thời gian: 3 ngày 2 đêm</p>
                                        </li>
                                        <li>
                                            <div class="ic-avt">
                                                <img src="../../../assets/img/ic-planes.png" alt="">
                                            </div>
                                            <p>Phương tiện: máy bay</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div> -->
        </div>
        <div class="col-md-3 col-child">
            <div class="box-right-bar">
                <div class="title">
                    <h2 class="title-right-v1">
                        <a>Danh mục</a>
                    </h2>
                </div>
                <ul class="list-tour-right_v1 list-tour-right_v1a">
                    <li *ngFor="let category of responseDataCategory">
                        <span>
                            <a routerLink="/category/{{ category.id }}">{{ category.name }}</a>
                        </span>
                    </li>
                </ul>
            </div>
            <div class="box-right-bar">
                <div class="title">
                    <h2 class="title-right-v1">
                        <a routerLink="/detail-post">Các bài viết</a>
                    </h2>
                </div>
                <ul class="list-news-right_v1">
                    <li *ngFor="let reponseDataPost of reponseDataPosts">
                        <div class="avt">
                            <a routerLink="/detail-post/{{ reponseDataPost.id }}" class="img">
                                <img src="../../../assets/img/logo.jpg" alt="">
                            </a>
                        </div>
                        <div class="desc">
                            <a routerLink="/detail-post/{{ reponseDataPost.id }}">{{ reponseDataPost.title }}</a>
                            <ul class="date-view">
                                <li>
                                    <div class="ic-avt">
                                        <img src="../../../assets/img/ic-departure.png" alt="">
                                    </div>
                                    <p>9/10/2018</p>
                                </li>
                                <li>
                                    <div class="ic-avt">
                                        <img src="../../../assets/img/ic-view.png" alt="">
                                    </div>
                                    <p>22</p>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>