<div id="body-page">
    <div class="container">
        <div id="map-link-bar">
            <ul>
                <li>
                    <a routerLink="/home">Trang chủ</a>
                </li>
                <li>
                    <a routerLink="/category">Tin tức du lịch</a>
                </li>
                <li>
                    <a routerLink="/detail-post">Những địa điểm sống ảo ở Hà Giang không thể bỏ lỡ trong mùa Tam Giác Mạch</a>
                </li>
            </ul>
        </div>
        <div class="row row-85">
            <div class="col-md-9 col-child">
                <div class="ss3 ss3a">
                    <div class="title title2">
                        <h1 class="title_v3a">
                            Những địa điểm sống ảo ở Hà Giang không thể bỏ lỡ trong mùa Tam Giác Mạch
                        </h1>
                        <ul class="date-view">
                            <li>
                                <div class="ic-avt">
                                    <img src="../../../assets/img/ic-departure.png" alt="">
                                </div>
                                <p>20:04</p>
                                <p>9/10/2018</p>
                            </li>
                        </ul>
                    </div>
                    <div class="box-related-news">
                        <ul>
                            <li>
                                <a routerLink="/detail-post">Em nhất định phải đến Hà Giang để ngắm hoa tam giác mạch nở rộ khắp trời
                                    !</a>
                            </li>
                            <li>
                                <a routerLink="/detail-post">Ngỡ ngàng Phố cổ Đồng Văn hơn 100 năm tuổi vẫn còn nguyên nét kiến trúc
                                    cổ kính xưa!</a>
                            </li>
                            <li>
                                <a routerLink="/detail-post">Tận hưởng trọn vẹn kỳ nghỉ dịp tết Dương lịch 2019 với những địa điểm
                                    không thể thú vị hơn</a>
                            </li>
                        </ul>
                    </div>
                    <div class="text-news" style="font-family: 'Arial',sans-serif;">
                        <br>
                        <p style="font-weight: bold; line-height: 24px; text-align: justify;">
                            Mùa thu đông Hà Giang được ví như thời điểm cho ra đời những tấm ảnh ngàn like cực kì
                            xịn xò với có quá nhiều góc để những người ham mê xê dịch, muốn khám phá một mảnh đất
                            mới có thể tìm đến tác nghiệp. Dưới đây là 5 địa điểm sống ảo Hà Giang nhất định phải
                            tới.
                        </p>
                        <br>
                        <p style=" line-height: 24px; text-align: justify;">Mùa thu đông Hà Giang được ví như thời
                            điểm cho ra đời những tấm ảnh ngàn like cực kì xịn xò với có quá nhiều góc để những
                            người ham mê xê dịch, muốn khám phá một mảnh đất mới có thể tìm đến tác nghiệp. Dưới đây
                            là 5 địa điểm sống ảo Hà Giang nhất định phải tới.</p>
                        <br>
                        <p style="font-weight: bold;  line-height: 24px; text-align: justify;">1.Những cánh đồng hoa
                            Tam Giác Mạch</p>
                        <br>
                        <p style="text-align: center;">
                            <img src="../../../assets/img/detail-news-1.png" alt="" style="max-width: 100%;">
                        </p><br>
                        <p style="text-align: center">Cánh đồng hoa bảng lảng khói sương (Ảnh: thi_tenshi)</p>
                        <br>
                        <p style="text-align: justify;line-height: 24px;">
                            Tháng 10. Tháng 11 là thời điểm hoa tam giác mạch nở đẹp nhất ở Hà Giang và một số tỉnh
                            miền núi phía Bắc. Mùa hoa tam giác mạch Hà Giang nổi tiếng tới nỗi, có nguyên một Lễ
                            hội hoa tam giác mạch diễn ra cực lớn trong năm. Địa hình cao nguyên đá với những dạng
                            địa hình độc đáo cũng biến những cánh đồng hoa tam giác mạch độc và lạ hơn những khu vực
                            khác. Vì ở đây không chỉ là những “cánh đồng hoa “ và còn có cả “ruộng bậc thang tam
                            giác mạch” do đây là loài hoa gắn bó cực kì mật thiết với cuộc sống của đồng bào. Bất kì
                            nơi nào có khoảnh đất trống, những hạt mầm lại được gieo xuống, cứ đúng thời điểm là
                            bung tỏa.
                        </p>
                    </div>
                    <div class="btn-social-v2">
                        <img src="../../../assets/img/btn-social-v2.png" alt="">
                    </div>
                </div>
                <div class="ss3 ss3a">
                    <div class="title">
                        <h2 class="title_v3a">
                            Các tin liên quan
                        </h2>
                    </div>
                    <ul class="list-news-v2">
                        <li>
                            <a routerLink="/detail-post"><i class="fa fa-chevron-right" aria-hidden="true"></i>Em nhất định phải đến
                                Hà Giang để ngắm hoa tam giác mạch nở rộ khắp trời !</a>
                        </li>
                        <li>
                            <a routerLink="/detail-post"><i class="fa fa-chevron-right" aria-hidden="true"></i>Ngỡ ngàng Phố cổ Đồng
                                Văn hơn 100 năm tuổi vẫn còn nguyên nét kiến trúc cổ kính xưa!</a>
                        </li>
                        <li>
                            <a routerLink="/detail-post"><i class="fa fa-chevron-right" aria-hidden="true"></i>Những địa điểm sống ảo
                                ở Hà Giang không thể bỏ lỡ trong mùa tam giác mạch</a>
                        </li>
                        <li>
                            <a routerLink="/detail-post"><i class="fa fa-chevron-right" aria-hidden="true"></i>Tận hưởng trọn vẹn kỳ
                                nghỉ dịp tết Dương lịch 2019 với những địa điểm không thể thú vị hơn</a>
                        </li>
                        <li>
                            <a routerLink="/detail-post"><i class="fa fa-chevron-right" aria-hidden="true"></i>Em nhất định phải đến
                                Hà Giang để ngắm hoa tam giác mạch nở rộ khắp trời !</a>
                        </li>
                        <li>
                            <a routerLink="/detail-post"><i class="fa fa-chevron-right" aria-hidden="true"></i>Ngỡ ngàng Phố cổ Đồng
                                Văn hơn 100 năm tuổi vẫn còn nguyên nét kiến trúc cổ kính xưa!</a>
                        </li>
                        <li>
                            <a routerLink="/detail-post"><i class="fa fa-chevron-right" aria-hidden="true"></i>Những địa điểm sống ảo
                                ở Hà Giang không thể bỏ lỡ trong mùa tam giác mạch</a>
                        </li>
                        <li>
                            <a routerLink="/detail-post"><i class="fa fa-chevron-right" aria-hidden="true"></i>Tận hưởng trọn vẹn kỳ
                                nghỉ dịp tết Dương lịch 2019 với những địa điểm không thể thú vị hơn</a>
                        </li>
                    </ul>
                </div>
                <div class="ss3">
                    <div class="title">
                        <h2 class="title_v3a">
                            Tour khuyến mại
                        </h2>
                    </div>
                    <div class="slider-tour_v1 slider-tour_v1a">
                        <ul class="list-item list-root">
                            <li>
                                <div class="item">
                                    <div class="avt">
                                        <a routerLink="/detail-post" class="img">
                                            <img src="../../../assets/img/item-slider-tour-v1-4.png" alt="">
                                        </a>
                                        <div class="desc-avt">
                                            <div class="price">
                                                <span class="new-price">2.381.000đ</span>
                                                <span class="old-price">2.580.000đ</span>
                                            </div>
                                            <div class="btn-see-more">
                                                <a routerLink="/detail-post">Chi tiết</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="desc">
                                        <h3>
                                            <a routerLink="/detail-post">Du lịch Đà Nẵng - Sơn Trà - Hội An - Bà Nà - Huế</a>
                                        </h3>
                                        <ul class="list-info-summary">
                                            <li>
                                                <div class="ic-avt">
                                                    <img src="../../../assets/img/ic-departure.png" alt="">
                                                </div>
                                                <p>Khời hành: 12,26/10.</p>
                                            </li>
                                            <li>
                                                <div class="ic-avt">
                                                    <img src="../../../assets/img/ic-time.png" alt="">
                                                </div>
                                                <p>Thời gian: 3 ngày 2 đêm</p>
                                            </li>
                                            <li>
                                                <div class="ic-avt">
                                                    <img src="../../../assets/img/ic-planes.png" alt="">
                                                </div>
                                                <p>Phương tiện: máy bay</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item">
                                    <div class="avt">
                                        <a routerLink="/detail-post" class="img">
                                            <img src="../../../assets/img/item-slider-tour-v1-5.png" alt="">
                                        </a>
                                        <div class="desc-avt">
                                            <div class="price">
                                                <span class="new-price">6.500.000đ</span>
                                                <span class="old-price">7.580.000đ</span>
                                            </div>
                                            <div class="btn-see-more">
                                                <a routerLink="/detail-post">Chi tiết</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="desc">
                                        <h3>
                                            <a routerLink="/detail-post">Du lịch Châu Đốc: Rừng tràm Trà Sư (Tour Tiết Kiệm)</a>
                                        </h3>
                                        <ul class="list-info-summary">
                                            <li>
                                                <div class="ic-avt">
                                                    <img src="../../../assets/img/ic-departure.png" alt="">
                                                </div>
                                                <p>Khời hành: 12,26/10.</p>
                                            </li>
                                            <li>
                                                <div class="ic-avt">
                                                    <img src="../../../assets/img/ic-time.png" alt="">
                                                </div>
                                                <p>Thời gian: 3 ngày 2 đêm</p>
                                            </li>
                                            <li>
                                                <div class="ic-avt">
                                                    <img src="../../../assets/img/ic-oto.png" alt="">
                                                </div>
                                                <p>Phương tiện: ô tô</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item">
                                    <div class="avt">
                                        <a routerLink="/detail-post" class="img">
                                            <img src="../../../assets/img/item-slider-tour-v1-6.png" alt="">
                                        </a>
                                        <div class="desc-avt">
                                            <div class="price">
                                                <span class="new-price">18.900.000đ</span>
                                                <span class="old-price">20.900.000đ</span>
                                            </div>
                                            <div class="btn-see-more">
                                                <a routerLink="/detail-post">Chi tiết</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="desc">
                                        <h3>
                                            <a routerLink="/detail-post">Du lịch Đà Nẵng - Bà Nà - Hội An - Huế - Động Phong Nha</a>
                                        </h3>
                                        <ul class="list-info-summary">
                                            <li>
                                                <div class="ic-avt">
                                                    <img src="../../../assets/img/ic-departure.png" alt="">
                                                </div>
                                                <p>Khời hành: 12,26/10.</p>
                                            </li>
                                            <li>
                                                <div class="ic-avt">
                                                    <img src="../../../assets/img/ic-time.png" alt="">
                                                </div>
                                                <p>Thời gian: 3 ngày 2 đêm</p>
                                            </li>
                                            <li>
                                                <div class="ic-avt">
                                                    <img src="../../../assets/img/ic-planes.png" alt="">
                                                </div>
                                                <p>Phương tiện: máy bay</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-child">
                <div class="box-right-bar">
                    <div class="title">
                        <h2 class="title-right-v1">
                            <a>Tin tức</a>
                        </h2>
                    </div>
                    <ul class="list-tour-right_v1 list-tour-right_v1a">
                        <li>
                            <span>
                                <a routerLink="/category">Tin tức du lịch</a>
                            </span>
                        </li>
                        <li>
                            <span>
                                <a routerLink="/category">Cẩm nang du lịch</a>
                            </span>
                        </li>
                        <li>
                            <span>
                                <a routerLink="/category">Kinh nghiệm du lịch</a>
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="box-right-bar">
                    <div class="title">
                        <h2 class="title-right-v1">
                            <a routerLink="/category">Xem nhiều nhất</a>
                        </h2>
                    </div>
                    <ul class="list-news-right_v1">
                        <li>
                            <div class="avt">
                                <a routerLink="/detail-post" class="img">
                                    <img src="../../../assets/img/item-news-right-v1-1.png" alt="">
                                </a>
                            </div>
                            <div class="desc">
                                <a routerLink="/detail-post">Hành trình du lịch Đông Bắc của những đôi chân không</a>
                                <ul class="date-view">
                                    <li>
                                        <div class="ic-avt">
                                            <img src="../../../assets/img/ic-departure.png" alt="">
                                        </div>
                                        <p>9/10/2018</p>
                                    </li>
                                    <li>
                                        <div class="ic-avt">
                                            <img src="../../../assets/img/ic-view.png" alt="">
                                        </div>
                                        <p>22</p>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="avt">
                                <a routerLink="/detail-post" class="img">
                                    <img src="../../../assets/img/item-news-right-v1-1.png" alt="">
                                </a>
                            </div>
                            <div class="desc">
                                <a routerLink="/detail-post">Hành trình du lịch Đông Bắc của những đôi chân không</a>
                                <ul class="date-view">
                                    <li>
                                        <div class="ic-avt">
                                            <img src="../../../assets/img/ic-departure.png" alt="">
                                        </div>
                                        <p>9/10/2018</p>
                                    </li>
                                    <li>
                                        <div class="ic-avt">
                                            <img src="../../../assets/img/ic-view.png" alt="">
                                        </div>
                                        <p>22</p>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="avt">
                                <a routerLink="/detail-post" class="img">
                                    <img src="../../../assets/img/item-news-right-v1-1.png" alt="">
                                </a>
                            </div>
                            <div class="desc">
                                <a routerLink="/detail-post">Hành trình du lịch Đông Bắc của những đôi chân không</a>
                                <ul class="date-view">
                                    <li>
                                        <div class="ic-avt">
                                            <img src="../../../assets/img/ic-departure.png" alt="">
                                        </div>
                                        <p>9/10/2018</p>
                                    </li>
                                    <li>
                                        <div class="ic-avt">
                                            <img src="../../../assets/img/ic-view.png" alt="">
                                        </div>
                                        <p>22</p>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="avt">
                                <a routerLink="/detail-post" class="img">
                                    <img src="../../../assets/img/item-news-right-v1-1.png" alt="">
                                </a>
                            </div>
                            <div class="desc">
                                <a routerLink="/detail-post">Hành trình du lịch Đông Bắc của những đôi chân không</a>
                                <ul class="date-view">
                                    <li>
                                        <div class="ic-avt">
                                            <img src="../../../assets/img/ic-departure.png" alt="">
                                        </div>
                                        <p>9/10/2018</p>
                                    </li>
                                    <li>
                                        <div class="ic-avt">
                                            <img src="../../../assets/img/ic-view.png" alt="">
                                        </div>
                                        <p>22</p>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="avt">
                                <a routerLink="/detail-post" class="img">
                                    <img src="../../../assets/img/item-news-right-v1-1.png" alt="">
                                </a>
                            </div>
                            <div class="desc">
                                <a routerLink="/detail-post">Hành trình du lịch Đông Bắc của những đôi chân không</a>
                                <ul class="date-view">
                                    <li>
                                        <div class="ic-avt">
                                            <img src="../../../assets/img/ic-departure.png" alt="">
                                        </div>
                                        <p>9/10/2018</p>
                                    </li>
                                    <li>
                                        <div class="ic-avt">
                                            <img src="../../../assets/img/ic-view.png" alt="">
                                        </div>
                                        <p>22</p>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="avt">
                                <a routerLink="/detail-post" class="img">
                                    <img src="../../../assets/img/item-news-right-v1-1.png" alt="">
                                </a>
                            </div>
                            <div class="desc">
                                <a routerLink="/detail-post">Hành trình du lịch Đông Bắc của những đôi chân không</a>
                                <ul class="date-view">
                                    <li>
                                        <div class="ic-avt">
                                            <img src="../../../assets/img/ic-departure.png" alt="">
                                        </div>
                                        <p>9/10/2018</p>
                                    </li>
                                    <li>
                                        <div class="ic-avt">
                                            <img src="../../../assets/img/ic-view.png" alt="">
                                        </div>
                                        <p>22</p>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="box-right-bar">
                    <div class="title">
                        <h2 class="title-right-v1">
                            <a routerLink="/detail-post">Xem nhiều nhất</a>
                        </h2>
                    </div>
                    <ul class="list-news-right_v1">
                        <li>
                            <div class="avt">
                                <a routerLink="/detail-post" class="img">
                                    <img src="../../../assets/img/item-news-right-v1-1.png" alt="">
                                </a>
                            </div>
                            <div class="desc">
                                <a routerLink="/detail-post">Hành trình du lịch Đông Bắc của những đôi chân không</a>
                                <ul class="date-view">
                                    <li>
                                        <div class="ic-avt">
                                            <img src="../../../assets/img/ic-departure.png" alt="">
                                        </div>
                                        <p>9/10/2018</p>
                                    </li>
                                    <li>
                                        <div class="ic-avt">
                                            <img src="../../../assets/img/ic-view.png" alt="">
                                        </div>
                                        <p>22</p>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="avt">
                                <a routerLink="/detail-post" class="img">
                                    <img src="../../../assets/img/item-news-right-v1-1.png" alt="">
                                </a>
                            </div>
                            <div class="desc">
                                <a routerLink="/detail-post">Hành trình du lịch Đông Bắc của những đôi chân không</a>
                                <ul class="date-view">
                                    <li>
                                        <div class="ic-avt">
                                            <img src="../../../assets/img/ic-departure.png" alt="">
                                        </div>
                                        <p>9/10/2018</p>
                                    </li>
                                    <li>
                                        <div class="ic-avt">
                                            <img src="../../../assets/img/ic-view.png" alt="">
                                        </div>
                                        <p>22</p>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="avt">
                                <a routerLink="/detail-post" class="img">
                                    <img src="../../../assets/img/item-news-right-v1-1.png" alt="">
                                </a>
                            </div>
                            <div class="desc">
                                <a routerLink="/detail-post">Hành trình du lịch Đông Bắc của những đôi chân không</a>
                                <ul class="date-view">
                                    <li>
                                        <div class="ic-avt">
                                            <img src="../../../assets/img/ic-departure.png" alt="">
                                        </div>
                                        <p>9/10/2018</p>
                                    </li>
                                    <li>
                                        <div class="ic-avt">
                                            <img src="../../../assets/img/ic-view.png" alt="">
                                        </div>
                                        <p>22</p>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="avt">
                                <a routerLink="/detail-post" class="img">
                                    <img src="../../../assets/img/item-news-right-v1-1.png" alt="">
                                </a>
                            </div>
                            <div class="desc">
                                <a routerLink="/detail-post">Hành trình du lịch Đông Bắc của những đôi chân không</a>
                                <ul class="date-view">
                                    <li>
                                        <div class="ic-avt">
                                            <img src="../../../assets/img/ic-departure.png" alt="">
                                        </div>
                                        <p>9/10/2018</p>
                                    </li>
                                    <li>
                                        <div class="ic-avt">
                                            <img src="../../../assets/img/ic-view.png" alt="">
                                        </div>
                                        <p>22</p>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="avt">
                                <a routerLink="/detail-post" class="img">
                                    <img src="../../../assets/img/item-news-right-v1-1.png" alt="">
                                </a>
                            </div>
                            <div class="desc">
                                <a routerLink="/detail-post">Hành trình du lịch Đông Bắc của những đôi chân không</a>
                                <ul class="date-view">
                                    <li>
                                        <div class="ic-avt">
                                            <img src="../../../assets/img/ic-departure.png" alt="">
                                        </div>
                                        <p>9/10/2018</p>
                                    </li>
                                    <li>
                                        <div class="ic-avt">
                                            <img src="../../../assets/img/ic-view.png" alt="">
                                        </div>
                                        <p>22</p>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="avt">
                                <a routerLink="/detail-post" class="img">
                                    <img src="../../../assets/img/item-news-right-v1-1.png" alt="">
                                </a>
                            </div>
                            <div class="desc">
                                <a routerLink="/detail-post">Hành trình du lịch Đông Bắc của những đôi chân không</a>
                                <ul class="date-view">
                                    <li>
                                        <div class="ic-avt">
                                            <img src="../../../assets/img/ic-departure.png" alt="">
                                        </div>
                                        <p>9/10/2018</p>
                                    </li>
                                    <li>
                                        <div class="ic-avt">
                                            <img src="../../../assets/img/ic-view.png" alt="">
                                        </div>
                                        <p>22</p>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>