<div class="content-wrapper">
    <div>
      <div class="header-container" style="display: flex; align-items: center; justify-content: space-between; margin: 0px 0px 20px 0px;">
        <div class="title flex direction-col">
          <h2 class="my-0">POST LIST</h2>
        </div>
        <div>
          <a routerLink="/create-post" class="">
            <button class="btn btn-secondary add-item btn-primary">
              <span><fa-icon [icon]="faPlusSquare"></fa-icon><span class="d-none d-sm-inline-block">Create new</span></span>
            </button>
          </a>
        </div>
      </div>
      <div class="page-list bg-white">
        <div class="card">
          <div class="card-datatable table-responsive">
            <div id="DataTables_Table_1_wrapper" class="dataTables_wrapper dt-bootstrap5">
              <div class="row" style="margin: 15px 0px 15px 0px;">
                <div id="DataTables_Table_1_filter" class="dataTables_filter">
                  <div class="row">
                    <div class="col-md-4 px-0">
                      <div class="search-input ps-re">
                        <a class="text-black ps-ab p-8-11 fs-18 fl-r opacity-08" href="#">
                          <i class="fa-solid fa-magnifying-glass"></i>
                        </a>
                        <input class="form-control ms-2" type="text" value="" placeholder="Search ..." />
                      </div>
                    </div>
                    <div class="col-md-4 offset-md-4" style="text-align: right;padding-right: 5px;">
                      <button class="btn btn-secondary item" data-bs-toggle="dropdown" aria-expanded="false" [disabled]="!isAnyPostSelected()">
                        <span><fa-icon [icon]="faSliders"></fa-icon><span>Action</span></span>
                      </button>
                      <div class="dropdown-menu dropdown-menu-end m-0">
                        <a href="javascript:;" class="dropdown-item" (click)="showModal('edit-language-dialog', getSelectedPostIds())">
                          <span class="ms-1"><fa-icon [icon]="faLanguage"></fa-icon><span>Update Language</span></span>
                        </a>
                        <a href="javascript:;" class="dropdown-item" (click)="showModal('edit-status-dialog', getSelectedPostIds())">
                          <span class="ms-1"><fa-icon [icon]="faToggleOn"></fa-icon><span>Update Status</span></span>
                        </a>
                        <a href="javascript:;" class="dropdown-item" (click)="showModal('edit-category-dialog', getSelectedPostIds())">
                          <span class="ms-1"><fa-icon [icon]="faBook"></fa-icon><span>Update Category</span></span>
                        </a>
                        <a href="javascript:;" class="dropdown-item" (click)="showModal('delete-mutipal-post', getSelectedPostIds())">
                          <span class="ms-1"><fa-icon [icon]="faTrash"></fa-icon><span>Delete Multiple Posts</span></span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
  
              <table class="dt-fixedheader table border-top dataTable dtr-column" id="DataTables_Table_1" aria-describedby="DataTables_Table_1_info">
                <thead>
                  <tr>
                    <th class="control sorting_disabled dtr-hidden" style="width: 0px; display: none;" aria-label=""></th>
                    <th class="sorting_disabled dt-checkboxes-cell dt-checkboxes-select-all" style="width: 18px;" data-col="1" aria-label="">
                      <input type="checkbox" class="form-check-input" id="select-all" [(ngModel)]="selectAll" (change)="checkAll($event)">
                    </th>
                    <th class="sorting" style="width: 250px;">Title</th>
                    <th class="sorting" style="width: 450px;">Content</th>
                    <th class="sorting" style="width: 200px;">Date</th>
                    <th class="sorting" style="width: 150px;">Category</th>
                    <th class="sorting" style="width: 150px;">Locale</th>
                    <th class="sorting">Status</th>
                    <th class="sorting" style="width: 120px; text-align-last: center;">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="odd" *ngFor="let post of posts | paginate: { itemsPerPage: itemsPerPage, currentPage: p }">
                    <td class="dt-checkboxes-cell">
                      <input type="checkbox" class="dt-checkboxes form-check-input" [(ngModel)]="post.selected" (change)="updateSelectAllState()">
                    </td>
                    <td>
                      <div class="d-flex justify-content-start align-items-center">
                        <div class="d-flex flex-column"><span class="emp_name text-truncate">{{ post.title }}</span></div>
                      </div>
                    </td>
                    <td>
                      <p class="card-text" [class.read-more]="isReadMore[post.id]">{{ post.body }}</p>
                      <a href="#" (click)="toggleReadMore($event, post.id)" class="read-more-btn">
                        {{ isReadMore[post.id] ? 'Read Less' : 'Read More' }}
                      </a>
                    </td>
                    <td>{{ post.formattedDate }}</td>
                    <td>{{ post.category.name }}</td>
                    <td>{{ post.language.name }}</td>
                    <td>
                      <span [ngClass]="post.status === 'true' ? 'badge bg-label-success' : 'badge bg-label-danger'">{{ post.status === 'true' ? 'Display' : 'Hidden' }}</span>
                    </td>
                    <td>
                      <div class="d-flex justify-content-center">
                        <button class="btn btn-sm btn-icon dropdown-toggle hide-arrow" data-bs-toggle="dropdown" aria-expanded="false">
                          <fa-icon [icon]="faEllipsisV"></fa-icon>
                        </button>
                        <div class="dropdown-menu dropdown-menu-end m-0">
                          <a (click)="getDetails(post.id)" class="dropdown-item">
                            <fa-icon [icon]="faEdit"></fa-icon>
                            <span class="ms-1">Update</span>
                          </a>
                          <a (click)="viewDetails(post.id)" class="dropdown-item">
                            <fa-icon [icon]="faEye"></fa-icon>
                            <span class="ms-1">Details</span>
                          </a>
                          <div class="dropdown-divider"></div>
                          <a href="javascript:;" (click)="showModal('delete-mutipal-post', [post.id])" class="dropdown-item text-danger delete-record align-items-center fs-15" data-id="#">
                            <fa-icon [icon]="faTrash"></fa-icon>
                            <span class="ms-1">Delete</span>
                          </a>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
                <tfoot></tfoot>
              </table>
              <div class="row" style="margin: 15px 0px 15px 0px;">
                <div class="col-md-2" style="display: inline-flex;">
                  <p style="margin-top: 15px; text-align: right;">Rows per page:</p>
                  <select id="itemsPerPageSelect" style="padding-left: 10px;border: 0px;width: 60px;" class="form-select" [(ngModel)]="itemsPerPage" (change)="onItemsPerPageChange($event)">
                    <option *ngFor="let option of availableItemsPerPage" [value]="option">{{ option }}</option>
                  </select>
                </div>
                <div class="col-md-10" style="padding-top: 10px;text-align: right;">
                  <!-- Pagination -->
                  <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Placeholder for dynamically loading components -->
    <ng-container #modalContainer></ng-container>
  
    <app-edit-language-dialog [selectedPostIds]="selectedIds"></app-edit-language-dialog>
    <app-edit-status-dialog [selectedPostIds]="selectedIds"></app-edit-status-dialog>
    <app-edit-category-dialog [selectedPostIds]="selectedIds"></app-edit-category-dialog>
    <app-delete-mutipal-post [selectedPostIds]="selectedIds"></app-delete-mutipal-post>
  </div>
  