<div
  class="modal"
  id="delete-dialog"
  [ngStyle]="{ display: isDelete ? 'block' : 'none' }"
>
  <div class="modal-dialog dialog-delete bd-1-main br-05rem bg-white fade">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <h2 class="mb-0">Are you sure ?</h2>
      </div>
      <div class="modal-body text-center">
        <form action="">
          <p>You won't be able to revert this!</p>
          <div class="btn_bottom mt-24 fl-r text-center">
            <button
              type="reset"
              class="btn_cancel btn btn-label-secondary bd-1-main me-sm-3 me-1"
              data-bs-dismiss="offcanvas"
              (click)="closeDialog()"
            >
              Cancel
            </button>
            <button
              type="submit"
              class="btn_ok btn-danger btn data-submit text-white"
            >
              Yes, delete this
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
