<div class="container-xxl">
  <div class="authentication-wrapper authentication-basic container-p-y">
    <div class="authentication-inner py-4">
      <!-- Reset Password -->
      <div class="card">
        <div class="card-body">
          <!-- Logo -->
          <div class="app-brand justify-content-center">
            <a href="/auth/login" class="app-brand-link gap-2">
              <img src="../assets/img/layouts/logo1.jpg" alt="" width="200" height="200" />
            </a>
          </div>
          <!-- /Logo -->
          <h4 class="mb-2">Reset Password 🔒</h4>
          <p class="mb-4">for <span class="fw-medium">{{ email }}</span></p>
          <form id="formAuthentication" class="mb-3 fv-plugins-bootstrap5 fv-plugins-framework" [formGroup]="postForm" (ngSubmit)="onSubmit()">
            <div class="mb-3 form-password-toggle fv-plugins-icon-container">
              <label class="form-label" for="password">New Password</label>
              <div class="input-group input-group-merge">
                <input type="password" id="password" class="form-control" name="password"
                  placeholder="Enter your password" aria-describedby="password" formControlName="password"
                  [(ngModel)]="password" required>
                <div *ngIf="postForm.get('password')?.invalid && postForm.get('password')?.touched" class="error">
                  Please enter a valid password has min length is 6 characters.
                </div>
              </div>
            </div>
            <div class="mb-3 form-password-toggle fv-plugins-icon-container">
              <label class="form-label" for="confirm-password">Confirm Password</label>
              <div class="input-group input-group-merge">
                <input type="password" id="confirmPassword" class="form-control" name="confirmPassword"
                  placeholder="Enter your confirm password" aria-describedby="confirmPassword" formControlName="confirmPassword"
                  [(ngModel)]="confirmPassword" required>
                <div *ngIf="postForm.get('confirmPassword')?.invalid && postForm.get('confirmPassword')?.touched" class="error">
                  Please enter a valid password has min length is 6 characters.
                </div>
              </div>
            </div>
            <button class="btn btn-primary d-grid w-100 mb-3" type="submit" [disabled]="postForm.invalid">
              Set new password
            </button>
            <div class="text-center">
              <a routerLink="/auth/login"><i class="bx bx-chevron-left scaleX-n1-rtl bx-sm"></i> Back to login</a>
            </div>
            <input type="hidden" />
          </form>
        </div>
      </div>
      <!-- /Reset Password -->
    </div>
  </div>
</div>
