.swal2-popup .swal2-title {
    font-size: 2rem;
    font-weight: 500;
    color: #a3a4cc;
}

.swal2-popup .swal2-html-container {
    color: #a3a4cc;
}

.swal2-popup .swal2-icon.swal2-warning {
    border-color: rgba(255, 171, 0, .8);
    color: #ffab00;
}

.swal2-center {
    overflow-y: auto;
}