<!DOCTYPE html>

<html
  lang="en"
  class="light-style layout-menu-fixed layout-compact"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../assets/"
  data-template="vertical-menu-template-free"
>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title>User</title>

    <meta name="description" content="" />

    <!-- fontawesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />

    <!-- Favicon -->
    <link
      rel="icon"
      type="image/x-icon"
      href="../assets/img/favicon/favicon.ico"
    />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../assets/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->

    <link rel="stylesheet" href="../assets/vendor/css/core-dark.css" />

    <link
      rel="stylesheet"
      type="text/css"
      href="../assets/vendor/css/theme-default-dark.css"
      class="template-customizer-theme-css"
    />
    <link rel="stylesheet" href="../assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link
      rel="stylesheet"
      href="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css"
    />
    <link
      rel="stylesheet"
      href="../assets/vendor/libs/apex-charts/apex-charts.css"
    />

    <link rel="stylesheet" href="../assets/vendor/css/userStyle.css" />
    <!-- Page CSS -->

    <!-- Helpers -->
    <script src="../assets/vendor/js/helpers.js"></script>
    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="../assets/js/config.js"></script>
  </head>

  <body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->
        <aside
          id="layout-menu"
          class="layout-menu menu-vertical menu bg-menu-theme"
          data-bg-class="bg-menu-theme"
          style="
            touch-action: none;
            user-select: none;
            -webkit-user-drag: none;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
          "
        >
          <div class="app-brand demo">
            <a href="index.html" class="app-brand-link">
              <img
                src="../assets/img/logo/logo.png"
                alt=""
                width="170"
                height="170"
              />
            </a>
            <a
              href="javascript:void(0);"
              class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none"
            >
              <i class="bx bx-chevron-left bx-sm align-middle"></i>
            </a>
          </div>

          <div class="menu-inner-shadow"></div>

          <ul class="menu-inner py-1">
            <!-- Dashboards -->
            <li class="menu-item">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Dashboards">Dashboards</div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item">
                  <a href="#" class="menu-link">
                    <div data-i18n="Analytics">Analytics</div>
                  </a>
                </li>
              </ul>
            </li>
            <li class="menu-header small text-uppercase">
              <span class="menu-header-text">Apps &amp; Pages</span>
            </li>

            <!-- Pages -->
            <li class="menu-item active open">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-user"></i>
                <div data-i18n="Account Settings">Users</div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item active">
                  <a href="user.html" class="menu-link">
                    <div data-i18n="Categories">List</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="#" class="menu-link">
                    <div data-i18n="Categories">View</div>
                  </a>
                </li>
              </ul>
            </li>
            <li class="menu-item">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-category"></i>
                <div data-i18n="Account Settings">Category</div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item">
                  <a href="category.html" class="menu-link">
                    <div data-i18n="Categories">List</div>
                  </a>
                </li>
              </ul>
            </li>
            <li class="menu-item">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-globe"></i>
                <div data-i18n="Account Settings">Language</div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item">
                  <a href="languages.html" class="menu-link">
                    <div data-i18n="Languages">List</div>
                  </a>
                </li>
              </ul>
            </li>

            <!-- Misc -->
            <li class="menu-header small text-uppercase">
              <span class="menu-header-text">Misc</span>
            </li>
            <li class="menu-item">
              <a
                href="https://github.com/themeselection/sneat-html-admin-template-free/issues"
                target="_blank"
                class="menu-link"
              >
                <i class="menu-icon tf-icons bx bx-support"></i>
                <div data-i18n="Support">Support</div>
              </a>
            </li>
          </ul>
        </aside>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page bg-dark-demo">
          <!-- Navbar -->
          <%- include('../partials/header.ejs') %>
          <!-- / Navbar -->

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <div class="content">
                <div class="page-list">
                  <div class="card">
                    <div
                      class="page-header flex justify-content-between align-items-center p-24 border-bottom"
                    >
                      <div class="title flex direction-col">
                        <h2 class="my-0">Users</h2>
                      </div>
                      <button
                        class="btn btn-secondary delete-item btn-danger me-3 ms-auto"
                        tabindex="0"
                        aria-controls="DataTables_Table_0"
                        type="button"
                        data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasAddUser"
                      >
                        <span
                          ><i class="fa-regular fa-trash-can"></i
                          ><span class="d-none d-sm-inline-block ms-2"
                            >Delete All</span
                          ></span
                        >
                      </button>
                      <button
                        class="btn btn-secondary add-item btn-primary"
                        tabindex="0"
                        aria-controls="DataTables_Table_0"
                        type="button"
                        data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasAddUser"
                      >
                        <span
                          ><i class="bx bx-plus me-0 me-sm-1"></i
                          ><span class="d-none d-sm-inline-block"
                            >Add New User</span
                          ></span
                        >
                      </button>
                    </div>
                    <div class="card-header border-bottom">
                      <div class="row justify-content-between">
                        <div class="col-md-4 col-4 px-0">
                          <div class="search-input ps-re">
                            <a
                              class="ps-ab p-8-11 fs-18 fl-r opacity-08"
                              href="#"
                            >
                              <i
                                class="fa-solid fa-magnifying-glass bg-navbar-theme"
                              ></i>
                            </a>
                            <input
                              class="form-control ms-2"
                              type="text"
                              value=""
                              placeholder="Search username or email"
                              name="value"
                            />
                          </div>
                        </div>
                        <div class="col-md-1 col-2">
                          <div
                            class="dataTables_length"
                            id="DataTables_Table_0_length"
                          >
                            <select
                              name="DataTables_Table_0_length"
                              aria-controls="DataTables_Table_0"
                              class="form-select"
                            >
                              <option value="10">10</option>
                              <option value="20">20</option>
                              <option value="50">50</option>
                              <option value="100">100</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="table-responsive text-nowrap">
                      <table
                        class="table table-striped border-bottom datatables-users dataTable no-footer dtr-column"
                      >
                        <thead>
                          <tr>
                            <th
                              class="sorting_disabled dt-checkboxes-cell dt-checkboxes-select-all"
                              rowspan="1"
                              colspan="1"
                              style="width: 18px"
                              data-col="1"
                              aria-label=""
                            >
                              <input
                                id="select-all"
                                type="checkbox"
                                class="form-check-input"
                              />
                            </th>
                            <th>ID</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th>Status</th>
                            <th>Actions</th>
                          </tr>
                        </thead>
                        <tbody class="table-border-bottom-0">
                          <tr class="odd">
                            <td class="dt-checkboxes-cell">
                              <input
                                type="checkbox"
                                class="dt-checkboxes form-check-input"
                              />
                            </td>
                            <td>#1</td>
                            <td>hoang</td>
                            <td>hadinhhoang041104@gmail.com</td>
                            <td>admin</td>
                            <td>
                              <span class="badge bg-label-success me-1"
                                >Active</span
                              >
                            </td>
                            <td>
                              <div class="d-flex align-items-center">
                                <button
                                  class="btn btn-sm btn-icon dropdown-toggle hide-arrow"
                                  data-bs-toggle="dropdown"
                                  aria-expanded="false"
                                >
                                  <i
                                    class="bx bx-dots-vertical-rounded menu-icon tf-icons"
                                  ></i>
                                </button>
                                <div
                                  class="dropdown-menu dropdown-menu-end m-0"
                                  style=""
                                >
                                  <a
                                    href="ViewDetailUser.html"
                                    class="dropdown-item"
                                  >
                                    <i class="fa-regular fa-eye"></i>
                                    <span class="ms-1">Details</span>
                                  </a>
                                  <div class="dropdown-divider"></div>
                                  <a
                                    href="javascript:;"
                                    class="dropdown-item text-primary delete-record align-items-center fs-15"
                                  >
                                    <i class="fa-regular fa-pen-to-square"></i>
                                    <span class="ms-1">Edit</span>
                                  </a>
                                  <div class="dropdown-divider"></div>
                                  <a
                                    href="javascript:;"
                                    class="dropdown-item text-danger delete-record align-items-center fs-15"
                                  >
                                    <i class="fa-regular fa-trash-can"></i>
                                    <span class="ms-1">Delete</span>
                                  </a>
                                </div>
                              </div>
                            </td>
                          </tr>
                          <tr class="even">
                            <td class="dt-checkboxes-cell">
                              <input
                                type="checkbox"
                                class="dt-checkboxes form-check-input"
                              />
                            </td>
                            <td>#1</td>
                            <td>hoang</td>
                            <td>hadinhhoang041104@gmail.com</td>
                            <td>admin</td>
                            <td>
                              <span class="badge bg-label-success me-1"
                                >Active</span
                              >
                            </td>
                            <td>
                              <div class="d-flex align-items-center">
                                <button
                                  class="btn btn-sm btn-icon dropdown-toggle hide-arrow"
                                  data-bs-toggle="dropdown"
                                  aria-expanded="false"
                                >
                                  <i
                                    class="bx bx-dots-vertical-rounded menu-icon tf-icons"
                                  ></i>
                                </button>
                                <div
                                  class="dropdown-menu dropdown-menu-end m-0"
                                  style=""
                                >
                                  <a
                                    href="ViewDetailUser.html"
                                    class="dropdown-item"
                                  >
                                    <i class="fa-regular fa-eye"></i>
                                    <span class="ms-1">Details</span>
                                  </a>
                                  <div class="dropdown-divider"></div>
                                  <a
                                    href="javascript:;"
                                    class="dropdown-item text-primary delete-record align-items-center fs-15"
                                  >
                                    <i class="fa-regular fa-pen-to-square"></i>
                                    <span class="ms-1">Edit</span>
                                  </a>
                                  <div class="dropdown-divider"></div>
                                  <a
                                    href="javascript:;"
                                    class="dropdown-item text-danger delete-record align-items-center fs-15"
                                  >
                                    <i class="fa-regular fa-trash-can"></i>
                                    <span class="ms-1">Delete</span>
                                  </a>
                                </div>
                              </div>
                            </td>
                          </tr>
                          <tr class="odd">
                            <td class="dt-checkboxes-cell">
                              <input
                                type="checkbox"
                                class="dt-checkboxes form-check-input"
                              />
                            </td>
                            <td>#1</td>
                            <td>hoang</td>
                            <td>hadinhhoang041104@gmail.com</td>
                            <td>admin</td>
                            <td>
                              <span class="badge bg-label-success me-1"
                                >Active</span
                              >
                            </td>
                            <td>
                              <div class="d-flex align-items-center">
                                <button
                                  class="btn btn-sm btn-icon dropdown-toggle hide-arrow"
                                  data-bs-toggle="dropdown"
                                  aria-expanded="false"
                                >
                                  <i
                                    class="bx bx-dots-vertical-rounded menu-icon tf-icons"
                                  ></i>
                                </button>
                                <div
                                  class="dropdown-menu dropdown-menu-end m-0"
                                  style=""
                                >
                                  <a
                                    href="ViewDetailUser.html"
                                    class="dropdown-item"
                                  >
                                    <i class="fa-regular fa-eye"></i>
                                    <span class="ms-1">Details</span>
                                  </a>
                                  <div class="dropdown-divider"></div>
                                  <a
                                    href="javascript:;"
                                    class="dropdown-item text-primary delete-record align-items-center fs-15"
                                  >
                                    <i class="fa-regular fa-pen-to-square"></i>
                                    <span class="ms-1">Edit</span>
                                  </a>
                                  <div class="dropdown-divider"></div>
                                  <a
                                    href="javascript:;"
                                    class="dropdown-item text-danger delete-record align-items-center fs-15"
                                  >
                                    <i class="fa-regular fa-trash-can"></i>
                                    <span class="ms-1">Delete</span>
                                  </a>
                                </div>
                              </div>
                            </td>
                          </tr>
                          <tr class="even">
                            <td class="dt-checkboxes-cell">
                              <input
                                type="checkbox"
                                class="dt-checkboxes form-check-input"
                              />
                            </td>
                            <td>#1</td>
                            <td>hoang</td>
                            <td>hadinhhoang041104@gmail.com</td>
                            <td>admin</td>
                            <td>
                              <span class="badge bg-label-success me-1"
                                >Active</span
                              >
                            </td>
                            <td>
                              <div class="d-flex align-items-center">
                                <button
                                  class="btn btn-sm btn-icon dropdown-toggle hide-arrow"
                                  data-bs-toggle="dropdown"
                                  aria-expanded="false"
                                >
                                  <i
                                    class="bx bx-dots-vertical-rounded menu-icon tf-icons"
                                  ></i>
                                </button>
                                <div
                                  class="dropdown-menu dropdown-menu-end m-0"
                                  style=""
                                >
                                  <a
                                    href="ViewDetailUser.html"
                                    class="dropdown-item"
                                  >
                                    <i class="fa-regular fa-eye"></i>
                                    <span class="ms-1">Details</span>
                                  </a>
                                  <div class="dropdown-divider"></div>
                                  <a
                                    href="javascript:;"
                                    class="dropdown-item text-primary delete-record align-items-center fs-15"
                                  >
                                    <i class="fa-regular fa-pen-to-square"></i>
                                    <span class="ms-1">Edit</span>
                                  </a>
                                  <div class="dropdown-divider"></div>
                                  <a
                                    href="javascript:;"
                                    class="dropdown-item text-danger delete-record align-items-center fs-15"
                                  >
                                    <i class="fa-regular fa-trash-can"></i>
                                    <span class="ms-1">Delete</span>
                                  </a>
                                </div>
                              </div>
                            </td>
                          </tr>
                          <tr class="odd">
                            <td class="dt-checkboxes-cell">
                              <input
                                type="checkbox"
                                class="dt-checkboxes form-check-input"
                              />
                            </td>
                            <td>#1</td>
                            <td>hoang</td>
                            <td>hadinhhoang041104@gmail.com</td>
                            <td>admin</td>
                            <td>
                              <span class="badge bg-label-success me-1"
                                >Active</span
                              >
                            </td>
                            <td>
                              <div class="d-flex align-items-center">
                                <button
                                  class="btn btn-sm btn-icon dropdown-toggle hide-arrow"
                                  data-bs-toggle="dropdown"
                                  aria-expanded="false"
                                >
                                  <i
                                    class="bx bx-dots-vertical-rounded menu-icon tf-icons"
                                  ></i>
                                </button>
                                <div
                                  class="dropdown-menu dropdown-menu-end m-0"
                                  style=""
                                >
                                  <a
                                    href="ViewDetailUser.html"
                                    class="dropdown-item"
                                  >
                                    <i class="fa-regular fa-eye"></i>
                                    <span class="ms-1">Details</span>
                                  </a>
                                  <div class="dropdown-divider"></div>
                                  <a
                                    href="javascript:;"
                                    class="dropdown-item text-primary delete-record align-items-center fs-15"
                                  >
                                    <i class="fa-regular fa-pen-to-square"></i>
                                    <span class="ms-1">Edit</span>
                                  </a>
                                  <div class="dropdown-divider"></div>
                                  <a
                                    href="javascript:;"
                                    class="dropdown-item text-danger delete-record align-items-center fs-15"
                                  >
                                    <i class="fa-regular fa-trash-can"></i>
                                    <span class="ms-1">Delete</span>
                                  </a>
                                </div>
                              </div>
                            </td>
                          </tr>
                          <tr class="even">
                            <td class="dt-checkboxes-cell">
                              <input
                                type="checkbox"
                                class="dt-checkboxes form-check-input"
                              />
                            </td>
                            <td>#1</td>
                            <td>hoang</td>
                            <td>hadinhhoang041104@gmail.com</td>
                            <td>admin</td>
                            <td>
                              <span class="badge bg-label-success me-1"
                                >Active</span
                              >
                            </td>
                            <td>
                              <div class="d-flex align-items-center">
                                <button
                                  class="btn btn-sm btn-icon dropdown-toggle hide-arrow"
                                  data-bs-toggle="dropdown"
                                  aria-expanded="false"
                                >
                                  <i
                                    class="bx bx-dots-vertical-rounded menu-icon tf-icons"
                                  ></i>
                                </button>
                                <div
                                  class="dropdown-menu dropdown-menu-end m-0"
                                  style=""
                                >
                                  <a
                                    href="ViewDetailUser.html"
                                    class="dropdown-item"
                                  >
                                    <i class="fa-regular fa-eye"></i>
                                    <span class="ms-1">Details</span>
                                  </a>
                                  <div class="dropdown-divider"></div>
                                  <a
                                    href="javascript:;"
                                    class="dropdown-item text-primary delete-record align-items-center fs-15"
                                  >
                                    <i class="fa-regular fa-pen-to-square"></i>
                                    <span class="ms-1">Edit</span>
                                  </a>
                                  <div class="dropdown-divider"></div>
                                  <a
                                    href="javascript:;"
                                    class="dropdown-item text-danger delete-record align-items-center fs-15"
                                  >
                                    <i class="fa-regular fa-trash-can"></i>
                                    <span class="ms-1">Delete</span>
                                  </a>
                                </div>
                              </div>
                            </td>
                          </tr>
                          <tr class="odd">
                            <td class="dt-checkboxes-cell">
                              <input
                                type="checkbox"
                                class="dt-checkboxes form-check-input"
                              />
                            </td>
                            <td>#1</td>
                            <td>hoang</td>
                            <td>hadinhhoang041104@gmail.com</td>
                            <td>admin</td>
                            <td>
                              <span class="badge bg-label-success me-1"
                                >Active</span
                              >
                            </td>
                            <td>
                              <div class="d-flex align-items-center">
                                <button
                                  class="btn btn-sm btn-icon dropdown-toggle hide-arrow"
                                  data-bs-toggle="dropdown"
                                  aria-expanded="false"
                                >
                                  <i
                                    class="bx bx-dots-vertical-rounded menu-icon tf-icons"
                                  ></i>
                                </button>
                                <div
                                  class="dropdown-menu dropdown-menu-end m-0"
                                  style=""
                                >
                                  <a
                                    href="ViewDetailUser.html"
                                    class="dropdown-item"
                                  >
                                    <i class="fa-regular fa-eye"></i>
                                    <span class="ms-1">Details</span>
                                  </a>
                                  <div class="dropdown-divider"></div>
                                  <a
                                    href="javascript:;"
                                    class="dropdown-item text-primary delete-record align-items-center fs-15"
                                  >
                                    <i class="fa-regular fa-pen-to-square"></i>
                                    <span class="ms-1">Edit</span>
                                  </a>
                                  <div class="dropdown-divider"></div>
                                  <a
                                    href="javascript:;"
                                    class="dropdown-item text-danger delete-record align-items-center fs-15"
                                  >
                                    <i class="fa-regular fa-trash-can"></i>
                                    <span class="ms-1">Delete</span>
                                  </a>
                                </div>
                              </div>
                            </td>
                          </tr>
                          <tr class="even">
                            <td class="dt-checkboxes-cell">
                              <input
                                type="checkbox"
                                class="dt-checkboxes form-check-input"
                              />
                            </td>
                            <td>#1</td>
                            <td>hoang</td>
                            <td>hadinhhoang041104@gmail.com</td>
                            <td>admin</td>
                            <td>
                              <span class="badge bg-label-success me-1"
                                >Active</span
                              >
                            </td>
                            <td>
                              <div class="d-flex align-items-center">
                                <button
                                  class="btn btn-sm btn-icon dropdown-toggle hide-arrow"
                                  data-bs-toggle="dropdown"
                                  aria-expanded="false"
                                >
                                  <i
                                    class="bx bx-dots-vertical-rounded menu-icon tf-icons"
                                  ></i>
                                </button>
                                <div
                                  class="dropdown-menu dropdown-menu-end m-0"
                                  style=""
                                >
                                  <a
                                    href="ViewDetailUser.html"
                                    class="dropdown-item"
                                  >
                                    <i class="fa-regular fa-eye"></i>
                                    <span class="ms-1">Details</span>
                                  </a>
                                  <div class="dropdown-divider"></div>
                                  <a
                                    href="javascript:;"
                                    class="dropdown-item text-primary delete-record align-items-center fs-15"
                                  >
                                    <i class="fa-regular fa-pen-to-square"></i>
                                    <span class="ms-1">Edit</span>
                                  </a>
                                  <div class="dropdown-divider"></div>
                                  <a
                                    href="javascript:;"
                                    class="dropdown-item text-danger delete-record align-items-center fs-15"
                                  >
                                    <i class="fa-regular fa-trash-can"></i>
                                    <span class="ms-1">Delete</span>
                                  </a>
                                </div>
                              </div>
                            </td>
                          </tr>
                          <tr class="odd">
                            <td class="dt-checkboxes-cell">
                              <input
                                type="checkbox"
                                class="dt-checkboxes form-check-input"
                              />
                            </td>
                            <td>#1</td>
                            <td>hoang</td>
                            <td>hadinhhoang041104@gmail.com</td>
                            <td>admin</td>
                            <td>
                              <span class="badge bg-label-success me-1"
                                >Active</span
                              >
                            </td>
                            <td>
                              <div class="d-flex align-items-center">
                                <button
                                  class="btn btn-sm btn-icon dropdown-toggle hide-arrow"
                                  data-bs-toggle="dropdown"
                                  aria-expanded="false"
                                >
                                  <i
                                    class="bx bx-dots-vertical-rounded menu-icon tf-icons"
                                  ></i>
                                </button>
                                <div
                                  class="dropdown-menu dropdown-menu-end m-0"
                                  style=""
                                >
                                  <a
                                    href="ViewDetailUser.html"
                                    class="dropdown-item"
                                  >
                                    <i class="fa-regular fa-eye"></i>
                                    <span class="ms-1">Details</span>
                                  </a>
                                  <div class="dropdown-divider"></div>
                                  <a
                                    href="javascript:;"
                                    class="dropdown-item text-primary delete-record align-items-center fs-15"
                                  >
                                    <i class="fa-regular fa-pen-to-square"></i>
                                    <span class="ms-1">Edit</span>
                                  </a>
                                  <div class="dropdown-divider"></div>
                                  <a
                                    href="javascript:;"
                                    class="dropdown-item text-danger delete-record align-items-center fs-15"
                                  >
                                    <i class="fa-regular fa-trash-can"></i>
                                    <span class="ms-1">Delete</span>
                                  </a>
                                </div>
                              </div>
                            </td>
                          </tr>
                          <tr class="even">
                            <td class="dt-checkboxes-cell">
                              <input
                                type="checkbox"
                                class="dt-checkboxes form-check-input"
                              />
                            </td>
                            <td>#1</td>
                            <td>hoang</td>
                            <td>hadinhhoang041104@gmail.com</td>
                            <td>admin</td>
                            <td>
                              <span class="badge bg-label-success me-1"
                                >Active</span
                              >
                            </td>
                            <td>
                              <div class="d-flex align-items-center">
                                <button
                                  class="btn btn-sm btn-icon dropdown-toggle hide-arrow"
                                  data-bs-toggle="dropdown"
                                  aria-expanded="false"
                                >
                                  <i
                                    class="bx bx-dots-vertical-rounded menu-icon tf-icons"
                                  ></i>
                                </button>
                                <div
                                  class="dropdown-menu dropdown-menu-end m-0"
                                  style=""
                                >
                                  <a
                                    href="ViewDetailUser.html"
                                    class="dropdown-item"
                                  >
                                    <i class="fa-regular fa-eye"></i>
                                    <span class="ms-1">Details</span>
                                  </a>
                                  <div class="dropdown-divider"></div>
                                  <a
                                    href="javascript:;"
                                    class="dropdown-item text-primary delete-record align-items-center fs-15"
                                  >
                                    <i class="fa-regular fa-pen-to-square"></i>
                                    <span class="ms-1">Edit</span>
                                  </a>
                                  <div class="dropdown-divider"></div>
                                  <a
                                    href="javascript:;"
                                    class="dropdown-item text-danger delete-record align-items-center fs-15"
                                  >
                                    <i class="fa-regular fa-trash-can"></i>
                                    <span class="ms-1">Delete</span>
                                  </a>
                                </div>
                              </div>
                            </td>
                          </tr>
                          <tr class="odd">
                            <td class="dt-checkboxes-cell">
                              <input
                                type="checkbox"
                                class="dt-checkboxes form-check-input"
                              />
                            </td>
                            <td>#1</td>
                            <td>hoang</td>
                            <td>hadinhhoang041104@gmail.com</td>
                            <td>admin</td>
                            <td>
                              <span class="badge bg-label-success me-1"
                                >Active</span
                              >
                            </td>
                            <td>
                              <div class="d-flex align-items-center">
                                <button
                                  class="btn btn-sm btn-icon dropdown-toggle hide-arrow"
                                  data-bs-toggle="dropdown"
                                  aria-expanded="false"
                                >
                                  <i
                                    class="bx bx-dots-vertical-rounded menu-icon tf-icons"
                                  ></i>
                                </button>
                                <div
                                  class="dropdown-menu dropdown-menu-end m-0"
                                  style=""
                                >
                                  <a
                                    href="ViewDetailUser.html"
                                    class="dropdown-item"
                                  >
                                    <i class="fa-regular fa-eye"></i>
                                    <span class="ms-1">Details</span>
                                  </a>
                                  <div class="dropdown-divider"></div>
                                  <a
                                    href="javascript:;"
                                    class="dropdown-item text-primary delete-record align-items-center fs-15"
                                  >
                                    <i class="fa-regular fa-pen-to-square"></i>
                                    <span class="ms-1">Edit</span>
                                  </a>
                                  <div class="dropdown-divider"></div>
                                  <a
                                    href="javascript:;"
                                    class="dropdown-item text-danger delete-record align-items-center fs-15"
                                  >
                                    <i class="fa-regular fa-trash-can"></i>
                                    <span class="ms-1">Delete</span>
                                  </a>
                                </div>
                              </div>
                            </td>
                          </tr>
                          <tr class="even">
                            <td class="dt-checkboxes-cell">
                              <input
                                type="checkbox"
                                class="dt-checkboxes form-check-input"
                              />
                            </td>
                            <td>#1</td>
                            <td>hoang</td>
                            <td>hadinhhoang041104@gmail.com</td>
                            <td>admin</td>
                            <td>
                              <span class="badge bg-label-success me-1"
                                >Active</span
                              >
                            </td>
                            <td>
                              <div class="d-flex align-items-center">
                                <button
                                  class="btn btn-sm btn-icon dropdown-toggle hide-arrow"
                                  data-bs-toggle="dropdown"
                                  aria-expanded="false"
                                >
                                  <i
                                    class="bx bx-dots-vertical-rounded menu-icon tf-icons"
                                  ></i>
                                </button>
                                <div
                                  class="dropdown-menu dropdown-menu-end m-0"
                                  style=""
                                >
                                  <a
                                    href="ViewDetailUser.html"
                                    class="dropdown-item"
                                  >
                                    <i class="fa-regular fa-eye"></i>
                                    <span class="ms-1">Details</span>
                                  </a>
                                  <div class="dropdown-divider"></div>
                                  <a
                                    href="javascript:;"
                                    class="dropdown-item text-primary delete-record align-items-center fs-15"
                                  >
                                    <i class="fa-regular fa-pen-to-square"></i>
                                    <span class="ms-1">Edit</span>
                                  </a>
                                  <div class="dropdown-divider"></div>
                                  <a
                                    href="javascript:;"
                                    class="dropdown-item text-danger delete-record align-items-center fs-15"
                                  >
                                    <i class="fa-regular fa-trash-can"></i>
                                    <span class="ms-1">Delete</span>
                                  </a>
                                </div>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="row mx-2">
                      <div class="col-sm-12 col-md-6">
                        <div
                          class="dataTables_info"
                          id="DataTables_Table_0_info"
                          role="status"
                          aria-live="polite"
                        >
                          1 - 8 of 8 items
                        </div>
                      </div>
                      <div class="col-sm-12 col-md-6">
                        <div
                          class="dataTables_paginate paging_simple_numbers"
                          id="DataTables_Table_0_paginate"
                        >
                          <ul
                            class="pagination align-items-center justify-content-end"
                          >
                            <li
                              class="paginate_button page-item previous disabled"
                              id="DataTables_Table_0_previous"
                            >
                              <a
                                aria-controls="DataTables_Table_0"
                                aria-disabled="true"
                                role="link"
                                data-dt-idx="previous"
                                tabindex="-1"
                                class="page-link"
                                >Previous</a
                              >
                            </li>
                            <li class="paginate_button page-item active">
                              <a
                                href="#"
                                aria-controls="DataTables_Table_0"
                                role="link"
                                aria-current="page"
                                data-dt-idx="0"
                                tabindex="0"
                                class="page-link"
                                >1</a
                              >
                            </li>
                            <li class="paginate_button page-item">
                              <a
                                href="#"
                                aria-controls="DataTables_Table_0"
                                role="link"
                                data-dt-idx="1"
                                tabindex="0"
                                class="page-link"
                                >2</a
                              >
                            </li>
                            <li class="paginate_button page-item">
                              <a
                                href="#"
                                aria-controls="DataTables_Table_0"
                                role="link"
                                data-dt-idx="2"
                                tabindex="0"
                                class="page-link"
                                >3</a
                              >
                            </li>
                            <li
                              class="paginate_button page-item next"
                              id="DataTables_Table_0_next"
                            >
                              <a
                                href="#"
                                aria-controls="DataTables_Table_0"
                                role="link"
                                data-dt-idx="next"
                                tabindex="0"
                                class="page-link"
                                >Next</a
                              >
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- / Content -->

          <!-- Footer -->
          <!-- <footer class="content-footer footer bg-footer-theme">
            <div
              class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column"
            >
              <div class="mb-2 mb-md-0">
                
                <script>
                  document.write(new Date().getFullYear());
                </script>
                , made with  by
                <a
                  href="https://themeselection.com"
                  target="_blank"
                  class="footer-link fw-medium"
                  >VCCorp</a
                >
              </div>
              <div class="d-none d-lg-inline-block">
                <a
                  href="https://themeselection.com/license/"
                  class="footer-link me-4"
                  target="_blank"
                  >License</a
                >
                <a
                  href="https://themeselection.com/"
                  target="_blank"
                  class="footer-link me-4"
                  >More Themes</a
                >

                <a
                  href="https://demos.themeselection.com/sneat-bootstrap-html-admin-template/documentation/"
                  target="_blank"
                  class="footer-link me-4"
                  >Documentation</a
                >

                <a
                  href="https://github.com/themeselection/sneat-html-admin-template-free/issues"
                  target="_blank"
                  class="footer-link"
                  >Support</a
                >
              </div>
            </div>
          </footer> -->
          <!-- / Footer -->

          <div class="content-backdrop fade"></div>
        </div>
        <!-- Content wrapper -->
      </div>
      <!-- / Layout page -->
    </div>

    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
    <!-- / Layout wrapper -->

    <!-- Side bar -->
    <script src="../assets/js/SideBar.js"></script>

    <!-- pagination -->
    <script src="../assets/js/pagination.js"></script>

    <!-- Dialog -->

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->

    <script src="../assets/vendor/libs/jquery/jquery.js"></script>
    <script src="../assets/vendor/libs/popper/popper.js"></script>
    <script src="../assets/vendor/js/bootstrap.js"></script>
    <!-- <script src="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script> -->
    <script src="../assets/vendor/js/menu.js"></script>

    <!-- endbuild -->

    <!-- Vendors JS -->
    <script src="../assets/vendor/js/main.js"></script>
    <!-- <script src="../assets/vendor/libs/apex-charts/apexcharts.js"></script> -->

    <!-- Main JS -->
    <script src="../assets/js/main.js"></script>

    <!-- Page JS -->
    <!-- <script src="../assets/js/dashboards-analytics.js"></script> -->

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </body>
</html>
