<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
      <div class="authentication-inner">
        <div class="card">
          <div class="card-body">
            <!-- Logo -->
            <div class="app-brand justify-content-center">
              <span class="app-brand-logo demo">
                <img src="../assets/img/layouts/logo1.jpg" alt="" style="width: 200px;">
              </span>
            </div>
            <!-- /Logo -->
            <form id="formAuthentication" class="mb-3" [formGroup]="postForm" (ngSubmit)="onSubmit()">
              <div class="mb-3">
                <label for="email" class="form-label">Email or Username</label>
                <input
                  type="text"
                  class="form-control"
                  id="email"
                  formControlName="email"
                  placeholder="Enter your email or username"
                  autofocus />
                <div *ngIf="postForm.get('email')?.invalid && postForm.get('email')?.touched" class="error">
                  Please enter a valid email.
                </div>
              </div>
              <div class="mb-3 form-password-toggle">
                <div class="d-flex justify-content-between">
                  <label class="form-label" for="password">Password</label>
                  <a routerLink="/auth/forgot-password">
                    <small>Forgot Password?</small>
                  </a>
                </div>
                <div class="input-group input-group-merge">
                  <input
                    type="password"
                    id="password"
                    class="form-control"
                    formControlName="password"
                    placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                    aria-describedby="password" />
                  <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                </div>
                <div *ngIf="postForm.get('password')?.invalid && postForm.get('password')?.touched" class="error">
                  Password is required.
                </div>
              </div>
              <div class="mb-3">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="remember-me" />
                  <label class="form-check-label" for="remember-me"> Remember Me </label>
                </div>
              </div>
              <div class="mb-3">
                <button class="btn btn-primary d-grid w-100" type="submit" [disabled]="postForm.invalid">Sign in</button>
              </div>
            </form>
  
            <p class="text-center">
              <a routerLink="/auth/register">
                <span>Create an account</span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  