.dropdown-custom {
    --bs-dropdown-zindex: 1000;
    --bs-dropdown-min-width: 12rem;
    --bs-dropdown-padding-x: 0;
    --bs-dropdown-padding-y: 0.3125rem;
    --bs-dropdown-spacer: 0.125rem;
    --bs-dropdown-font-size: 0.9375rem;
    --bs-dropdown-color: var(--bs-body-color);
    --bs-dropdown-bg: #323249;
    --bs-dropdown-border-color: transparent;
    --bs-dropdown-border-radius: var(--bs-border-radius);
    --bs-dropdown-border-width: var(--bs-border-width);
    --bs-dropdown-inner-border-radius: 0;
    --bs-dropdown-divider-bg: #444564;
    --bs-dropdown-divider-margin-y: 0.5rem;
    --bs-dropdown-box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.2);
    --bs-dropdown-link-color: #a3a4cc;
    --bs-dropdown-link-hover-color: #a3a4cc;
    --bs-dropdown-link-hover-bg: rgba(124, 125, 182, 0.1);
    --bs-dropdown-link-active-color: #fff;
    --bs-dropdown-link-active-bg: #fff;
    --bs-dropdown-link-disabled-color: #7071a4;
    --bs-dropdown-item-padding-x: 1.25rem;
    --bs-dropdown-item-padding-y: 0.532rem;
    --bs-dropdown-header-color: #cbcbe2;
    --bs-dropdown-header-padding-x: 1.25rem;
    --bs-dropdown-header-padding-y: 0.3125rem;
    position: absolute;
    z-index: var(--bs-dropdown-zindex);
    display: none;
    min-width: 50px;
    padding: var(--bs-dropdown-padding-y) var(--bs-dropdown-padding-x);
    margin: 0;
    font-size: var(--bs-dropdown-font-size);
    color: var(--bs-dropdown-color);
    text-align: left;
    list-style: none;
    background-color: var(--bs-dropdown-bg);
    background-clip: padding-box;
    border: var(--bs-dropdown-border-width) solid var(--bs-dropdown-border-color);
    border-radius: var(--bs-dropdown-border-radius);
    box-shadow: 0 .25rem 1rem rgba(0, 0, 0, .2);
}