<div class="container-xxl">
  <div class="authentication-wrapper authentication-basic container-p-y">
    <div class="authentication-inner">
      <!-- Register -->
      <div class="card">
        <div class="card-body">
          <!-- Logo -->
          <div class="app-brand justify-content-center">
            <a href="user.html" class="app-brand-link gap-2">
              <img
                src="../assets/img/logo/logo.png"
                alt=""
                width="150"
                height="150"
              />
            </a>
          </div>
          <!-- /Logo -->
          <h4 class="mb-2 text-center">Welcome to our Blog! 👋</h4>
          <p class="mb-4 text-center">Login to access your admin account</p>

          <form
            #formLogin="ngForm"
            id="formAuthentication"
            class="mb-3 fv-plugins-bootstrap5 fv-plugins-framework"
            method="POST"
            novalidate="novalidate"
            (ngSubmit)="onSubmit(formLogin.value)"
          >
            <div class="mb-3 fv-plugins-icon-container">
              <label for="email" class="form-label">Email or Username</label>
              <input
                type="email"
                class="form-control"
                id="email"
                name="email-username"
                placeholder="Enter your email or username"
                autofocus=""
                required
                ngModel
              />
              <div
                class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"
              >
                <div
                  class="notEmpty d-none"
                  data-field="email-username"
                  data-validator="notEmpty"
                >
                  Please enter email / username
                </div>
                <div
                  class="stringLength d-none"
                  data-field="email-username"
                  data-validator="stringLength"
                >
                  Username must be more than 6 characters
                </div>
              </div>
            </div>
            <div class="mb-3 form-password-toggle fv-plugins-icon-container">
              <div class="d-flex justify-content-between">
                <label class="form-label" for="password">Password</label>
                <a routerLink="/auth/reset">
                  <small>Forgot Password?</small>
                </a>
              </div>
              <div class="input-group input-group-merge has-validation">
                <input
                  id="password"
                  class="form-control"
                  name="password"
                  placeholder="············"
                  aria-describedby="password"
                  required
                  [type]="inputType"
                  ngModel
                />
                <span
                  class="input-group-text cursor-pointer"
                  (click)="togglePW()"
                >
                  <i
                    class="fa-regular d-block"
                    [ngClass]="isCheckPW ? 'fa-eye' : 'fa-eye-slash'"
                  ></i>
                </span>
              </div>
              <div
                class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"
              ></div>
            </div>
            <div class="mb-3">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="remember-me"
                />
                <label class="form-check-label" for="remember-me">
                  Remember Me
                </label>
              </div>
            </div>
            <div class="mb-3">
              <button class="btn btn-primary d-grid w-100" type="submit">
                Sign in
              </button>
            </div>
            <input type="hidden" />
          </form>
        </div>
      </div>
      <!-- /Register -->
    </div>
  </div>
</div>
