<div class="toast-container position-absolute bottom-0 end-0 p-3">
    <div
      *ngFor="let toast of toastService.toasts"
      class="toast d-flex"
      [ngClass]="toast.classname"
      style="
        animation: 0.3s ease 0s 1 normal none running slideInLeft,
          1s linear 5s 1 normal forwards running fadeOut;
      "
    >
      <div class="toast__icon">
        <i class="fas fa-check-circle"></i>
      </div>
      <div class="toast__body">
        <h3 class="toast__title">{{ toast.template }}</h3>
        <p class="toast__msg">{{ toast.msg }}</p>
      </div>
      <div class="toast__close" (click)="toastService.remove(toast)">
        <i class="fas fa-times"></i>
      </div>
    </div>
  </div>
  