<header>
    <div class="header-top">
        <div class="container">
            <div class="left">
                <div class="item">
                    <div class="avt">
                        <img src="../../../assets/img/ic-phone-header-top.png" alt="">
                    </div>
                    <a href="">
                        <span>0988 888 888</span>
                    </a>
                </div>
                <div class="item">
                    <div class="avt">
                        <img src="../../../assets/img/ic-email-header-top.png" alt="">
                    </div>
                    <a href="">vccorpgmail.com</a>
                </div>
            </div>
            <div class="right">
                <ul>
                    <li>
                        <a href="">Giới Thiệu</a>
                    </li>
                    <li class="active">
                        <a href="">Tin tức du lịch</a>
                    </li>
                    <li>
                        <a href="">Liên hệ</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="header">
        <div class="container">
            <div class="logo">
                <a routerLink="/home" class="img">
                    <img src="../../../assets/img/logo.jpg" alt="" style="border-radius: 50px;">
                </a>
            </div>
            <div id="sticker">
                <div class="sticker-container" id="sticker-container">
                    <div class="overlay-sticker"></div>
                    <div class="warpper">
                        <div class="head-sticker">
                            <p>Danh mục</p>
                            <div id="touch-out">
                            </div>
                        </div>
                        <div class="body-sticker">
                            <ul class="tbl">
                                <li class="tbl-cell">
                                    <a routerLink="/home">Trang chủ</a>
                                </li>
                                <li class="tbl-cell">
                                    <a routerLink="/category">Thời sự</a>
                                    <ul>
                                        <li>
                                            <a routerLink="/category">demo</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="tbl-cell">
                                    <a routerLink="/category">Du lịch</a>
                                </li>
                                <li class="tbl-cell">
                                    <a routerLink="/category">Thể thao</a>
                                </li>
                                <li class="tbl-cell">
                                    <a routerLink="/category">Giáo dục</a>
                                </li>
                                <li class="tbl-cell">
                                    <a routerLink="/category">Giải trí</a>
                                </li>
                            </ul>
                        </div>
                        <!-- <div class="footer-sticker">
                            <ul class="mb-lang tbl">
                                <li class="tbl-cell">
                                    <a href="#" class="langvi">VN</a>
                                </li>
                                <li class="tbl-cell">
                                    <a href="#" class="langen">EN</a>
                                </li>
                            </ul>
                        </div> -->
                    </div>
                </div>
            </div>
            <div id="touch-on">
                <span></span>
            </div>
        </div>
    </div>
</header>
<div class="banner">
    <div class="banner-img">
        <img src="../../../assets/img/banner-tour.png" alt="">
    </div>
    <div class="search-tour">
        <div class="content">
            <div class="form-search-tour">
                <form action="">
                    <div class="insize">
                        <div class="input-search-tour input-search-tour-v2">
                            <input type="text" placeholder="Tìm kiếm điểm đến, hoạt động">
                        </div>
                        <button>Tìm Kiếm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>