<div id="body-page">
    <div class="container">
        <div id="map-link-bar">
            <ul>
                <li>
                    <a routerLink="/home">Trang chủ</a>
                </li>
                <li>
                    <a routerLink="/category">Danh mục</a>
                </li>
            </ul>
        </div>
        <div class="row row-85">
            <div class="col-md-9 col-sm-8 col-child">
                <div class="ss2">
                    <div class="title title2">
                        <h1 class="title_v3a">
                            Danh mục
                        </h1>
                    </div>
                    <div class="tour-evaluation">
                        <div class="slider-feedback_v1">
                            <ul class="list-root list-item">
                                <li *ngFor="let post of posts">
                                    <div class="item">
                                        <div class="avt">
                                            <a routerLink="/detail-post" class="img">
                                                <img src="../../../assets/img/avt-feedback-1.png" alt="">
                                            </a>
                                            <div class="voted-star-v1">
                                                <div class="vote-star">
                                                    <div class="rating">
                                                        <div class="full star-v1" title="Awesome - 5 stars"></div>
                                                        <div class="full star-v1 active" title="Pretty good - 4 stars">
                                                        </div>
                                                        <div class="full star-v1 active" title="Meh - 3 stars"></div>
                                                        <div class="full star-v1 active" title="Kinda bad - 2 stars">
                                                        </div>
                                                        <div class="full star-v1 active"
                                                            title="Sucks big time - 1 star"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="desc">
                                            <a routerLink="/detail-post" class="title-desc">{{ post.title }}</a>
                                            <p class="card-text">
                                                <span class="responsive-img-span">{{ post.body }}</span>
                                            </p>
                                            <div class="info-use-fb">
                                                <div class="desc">
                                                    <p class="name">{{ post.user_id }}</p>
                                                </div>
                                                <div class="avt-company">
                                                    <a routerLink="/detail-post" class="img">
                                                        <img src="../../../assets/img/company-use-feedback-3.png"
                                                            alt="">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="pagination">
                            <ul>
                                <li>
                                    <a routerLink="/category"><i class="fa fa-angle-double-left"
                                            aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a routerLink="/category"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a routerLink="/category" class="active">1</a>
                                </li>
                                <li>
                                    <a routerLink="/category">2</a>
                                </li>
                                <li>
                                    <a routerLink="/category">3</a>
                                </li>
                                <li>
                                    <a routerLink="/category"><i class="fa fa-angle-double-right"
                                            aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a routerLink="/category"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-right-bar">
                <div class="title">
                    <h2 class="title-right-v1">
                        <a href="">Xem nhiều nhất</a>
                    </h2>
                </div>
                <ul class="list-news-right_v1">
                    <li>
                        <div class="avt">
                            <a routerLink="/detail-post" class="img">
                                <img src="../../../assets/img/item-news-right-v1-1.png" alt="">
                            </a>
                        </div>
                        <div class="desc">
                            <a routerLink="/detail-post">Hành trình du lịch Đông Bắc của những đôi chân không</a>
                            <ul class="date-view">
                                <li>
                                    <div class="ic-avt">
                                        <img src="../../../assets/img/ic-departure.png" alt="">
                                    </div>
                                    <p>9/10/2018</p>
                                </li>
                                <li>
                                    <div class="ic-avt">
                                        <img src="../../../assets/img/ic-view.png" alt="">
                                    </div>
                                    <p>22</p>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="avt">
                            <a routerLink="/detail-post" class="img">
                                <img src="../../../assets/img/item-news-right-v1-1.png" alt="">
                            </a>
                        </div>
                        <div class="desc">
                            <a routerLink="/detail-post">Hành trình du lịch Đông Bắc của những đôi chân không</a>
                            <ul class="date-view">
                                <li>
                                    <div class="ic-avt">
                                        <img src="../../../assets/img/ic-departure.png" alt="">
                                    </div>
                                    <p>9/10/2018</p>
                                </li>
                                <li>
                                    <div class="ic-avt">
                                        <img src="../../../assets/img/ic-view.png" alt="">
                                    </div>
                                    <p>22</p>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="avt">
                            <a routerLink="/detail-post" class="img">
                                <img src="../../../assets/img/item-news-right-v1-1.png" alt="">
                            </a>
                        </div>
                        <div class="desc">
                            <a routerLink="/detail-post">Hành trình du lịch Đông Bắc của những đôi chân không</a>
                            <ul class="date-view">
                                <li>
                                    <div class="ic-avt">
                                        <img src="../../../assets/img/ic-departure.png" alt="">
                                    </div>
                                    <p>9/10/2018</p>
                                </li>
                                <li>
                                    <div class="ic-avt">
                                        <img src="../../../assets/img/ic-view.png" alt="">
                                    </div>
                                    <p>22</p>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="avt">
                            <a routerLink="/detail-post" class="img">
                                <img src="../../../assets/img/item-news-right-v1-1.png" alt="">
                            </a>
                        </div>
                        <div class="desc">
                            <a routerLink="/detail-post">Hành trình du lịch Đông Bắc của những đôi chân không</a>
                            <ul class="date-view">
                                <li>
                                    <div class="ic-avt">
                                        <img src="../../../assets/img/ic-departure.png" alt="">
                                    </div>
                                    <p>9/10/2018</p>
                                </li>
                                <li>
                                    <div class="ic-avt">
                                        <img src="../../../assets/img/ic-view.png" alt="">
                                    </div>
                                    <p>22</p>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="avt">
                            <a routerLink="/detail-post" class="img">
                                <img src="../../../assets/img/item-news-right-v1-1.png" alt="">
                            </a>
                        </div>
                        <div class="desc">
                            <a routerLink="/detail-post">Hành trình du lịch Đông Bắc của những đôi chân không</a>
                            <ul class="date-view">
                                <li>
                                    <div class="ic-avt">
                                        <img src="../../../assets/img/ic-departure.png" alt="">
                                    </div>
                                    <p>9/10/2018</p>
                                </li>
                                <li>
                                    <div class="ic-avt">
                                        <img src="../../../assets/img/ic-view.png" alt="">
                                    </div>
                                    <p>22</p>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="avt">
                            <a routerLink="/detail-post" class="img">
                                <img src="../../../assets/img/item-news-right-v1-1.png" alt="">
                            </a>
                        </div>
                        <div class="desc">
                            <a routerLink="/detail-post">Hành trình du lịch Đông Bắc của những đôi chân không</a>
                            <ul class="date-view">
                                <li>
                                    <div class="ic-avt">
                                        <img src="../../../assets/img/ic-departure.png" alt="">
                                    </div>
                                    <p>9/10/2018</p>
                                </li>
                                <li>
                                    <div class="ic-avt">
                                        <img src="../../../assets/img/ic-view.png" alt="">
                                    </div>
                                    <p>22</p>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>