<!-- <div class="toast-container position-absolute bottom-0 end-0 p-3">
  <div
    class="toast"
    [ngClass]="{
      'toast--success': isStatus,
      'toast--error': !isStatus,
      'd-flex': isShow
    }"
    style="
      animation: 0.3s ease 0s 1 normal none running slideInLeft,
        1s linear 5s 1 normal forwards running fadeOut;
    "
  >
    <div class="toast__icon">
      <i class="fas fa-check-circle"></i>
    </div>
    <div class="toast__body">
      <h3 class="toast__title">Thành công!</h3>
      <p class="toast__msg">Bạn đã đăng ký thành công tài khoản tại F8.</p>
    </div>
    <div class="toast__close">
      <i class="fas fa-times"></i>
    </div>
  </div>
</div> -->

<!-- @for (toast of toastService.toasts; track toast) {
<ngb-toast
  [class]="toast.classname"
  [autohide]="true"
  [delay]="toast.delay || 5000"
  (hidden)="toastService.remove(toast)"
>
  <ng-template [ngTemplateOutlet]="toast.template"></ng-template>
</ngb-toast> -->
<!-- } -->
