<div class="modal" id="filter-dialog" style="display: none">
    <div class="modal-dialog dialog-fixed bd-1-main br-8 bg-white fade">
      <div class="modal-content">
        <div class="modal-header flex justify-sb">
          <div class="dialog-title">
            <h3 class="fs-18 text-title fw-600 mb-0">{{ "labels.filter" | translate }}</h3>
          </div>
          <div class="dialog-btn">
            <a class="text-close text-decoration-none cursor" (click)="closeModal()">
              <div class="icon fs-20"><i class="fa-solid fa-xmark"></i></div>
            </a>
          </div>
        </div>
        <div class="modal-body">
          <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label for="status" class="form-label">{{ "labels.status" | translate }}</label>
              <select class="form-select" id="status" formControlName="status">
                <option value="">{{ selectedStatusText }}</option>
                <option *ngFor="let status of statuses" [value]="status.value">
                  {{ status.name }}
                </option>
              </select>
            </div>
            <div class="mb-3">
              <label for="categories" class="form-label">{{ "labels.category" | translate }}</label>
              <select class="form-select" id="categories" formControlName="categories">
                <option value="">{{ selectedCategoryText }}</option>
                <option *ngFor="let category of responseDataCategory" [value]="category.id">
                  {{ category.name }}
                </option>
              </select>
            </div>
            <div style="float: right; margin-top: 20px;">
              <button type="submit" class="btn_ok btn btn-danger data-submit" style="margin-right: 10px;" (click)="deleteFilter()">
               {{ "buttons.deleteFilter" | translate }}
              </button>
              <button type="submit" class="btn_ok btn btn-primary data-submit" [disabled]="postForm.invalid">
                {{ "buttons.save" | translate }}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  