<div id="body-page">
    <div class="container">
        <div id="map-link-bar">
            <ul>
                <li>
                    <a routerLink="/home">Trang chủ</a>
                </li>
                <li>
                    <a routerLink="/category">Tin tức du lịch</a>
                </li>
            </ul>
        </div>
        <div class="row row-85">
            <div class="col-md-9 col-sm-8 col-child">
                <div class="ss3">
                    <div class="title title2">
                        <h1 class="title_v3a">
                            Tin tức du lịch
                        </h1>
                        <div class="btn-see-more_v3">
                            <a routerLink="/category">Xem thêm <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div class="list-news-cubes-v1">
                        <div class="item-1 item">
                            <ul class="run-slider">
                                <li>
                                    <div class="item">
                                        <div class="avt">
                                            <img src="../../../assets/img/item-slider-news-cubes-1-1.png" alt="">
                                        </div>
                                        <div class="desc">
                                            <div class="box-desc">
                                                <a routerLink="/detail-post" class="titleA">Tận hưởng cuộc sống ở thiên đường nghỉ dưỡng Six Senses Côn Đảo sang chảnh bậc nhất Việt Nam</a>
                                                <p>Nếu bạn đã từng đặt chân đến những bãi biển nổi tiếng ở Đà Nẵng hay Nha Trang thì Côn Đảo hẳn là một sự lựa chọn không quá mới mẻ nhưng </p>
                                                <a routerLink="/detail-post" class="btn-detail">Chi tiết</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="item-2 item">
                            <div class="item">
                                <div class="avt">
                                    <img src="../../../assets/img/item-slider-news-cubes-1-2.png" alt="">
                                </div>
                                <div class="desc">
                                    <div class="box-desc">
                                        <a routerLink="/detail-post" class="titleA">Trekking Núi Chúa chuyến đi ấn tượng</a>
                                        <a routerLink="/detail-post" class="btn-detail">Chi tiết</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-2 item">
                            <div class="item">
                                <div class="avt">
                                    <img src="../../../assets/img/item-slider-news-cubes-1-3.png" alt="">
                                </div>
                                <div class="desc">
                                    <div class="box-desc">
                                        <a routerLink="/detail-post" class="titleA">Trekking Núi Chúa chuyến đi ấn tượng</a>
                                        <a routerLink="/detail-post" class="btn-detail">Chi tiết</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ss3">
                    <div class="title title2">
                        <h2 class="title_v3a">
                            Cẩm nang du lịch
                        </h2>
                        <div class="btn-see-more_v3">
                            <a routerLink="/category">Xem thêm <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div class="news news-v2">
                        <div class="body-news">
                            <div class="item-news-active">
                                <div class="box-item">
                                    <a routerLink="/detail-post" class="avt">
                                        <img src="../../../assets/img/item-slider-news-v1-11.png" alt="">
                                    </a>
                                    <div class="desc">
                                        <h4 class="title-item_v1">
                                            <a routerLink="/detail-post">7 điểm đến tuyệt đẹp trên thế giới trong tháng 10 năm nay</a>
                                        </h4>
                                        <ul class="date-view">
                                            <li>
                                                <div class="ic-avt">
                                                    <img src="../../../assets/img/ic-departure.png" alt="">
                                                </div>
                                                <p>9/10/2018</p>
                                            </li>
                                            <li>
                                                <div class="ic-avt">
                                                    <img src="../../../assets/img/ic-view.png" alt="">
                                                </div>
                                                <p>22</p>
                                            </li>
                                        </ul>
                                        <p>7 điểm đến tuyệt đẹp trên thế giới trong tháng 10 năm nay</p>
                                    </div>
                                </div>
                            </div>
                            <div class="slider-news_v1">
                                <ul class="list-root">
                                    <li>
                                        <div class="item">
                                            <a routerLink="/detail-post" class="avt">
                                                <img src="../../../assets/img/item-slider-news-v1-12.png" alt="">
                                            </a>
                                            <div class="desc">
                                                <a routerLink="/detail-post" class="titleA" >Những điệu nhảy truyền thống được yêu thích trên thế giới</a>
                                                <ul class="date-view">
                                                    <li>
                                                        <div class="ic-avt">
                                                            <img src="../../../assets/img/ic-departure.png" alt="">
                                                        </div>
                                                        <p>9/10/2018</p>
                                                    </li>
                                                    <li>
                                                        <div class="ic-avt">
                                                            <img src="../../../assets/img/ic-view.png" alt="">
                                                        </div>
                                                        <p>22</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item">
                                            <a routerLink="/detail-post" class="avt">
                                                <img src="../../../assets/img/item-slider-news-v1-13.png" alt="">
                                            </a>
                                            <div class="desc">
                                                <a routerLink="/detail-post" class="titleA" >7 điểm đến tuyệt đẹp trên thế giới trong tháng 10 năm nay</a>
                                                <ul class="date-view">
                                                    <li>
                                                        <div class="ic-avt">
                                                            <img src="../../../assets/img/ic-departure.png" alt="">
                                                        </div>
                                                        <p>9/10/2018</p>
                                                    </li>
                                                    <li>
                                                        <div class="ic-avt">
                                                            <img src="../../../assets/img/ic-view.png" alt="">
                                                        </div>
                                                        <p>22</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item">
                                            <a routerLink="/detail-post" class="avt">
                                                <img src="../../../assets/img/item-slider-news-v1-14.png" alt="">
                                            </a>
                                            <div class="desc">
                                                <a routerLink="/detail-post" class="titleA" >Những điệu nhảy truyền thống được yêu thích trên thế giới</a>
                                                <ul class="date-view">
                                                    <li>
                                                        <div class="ic-avt">
                                                            <img src="../../../assets/img/ic-departure.png" alt="">
                                                        </div>
                                                        <p>9/10/2018</p>
                                                    </li>
                                                    <li>
                                                        <div class="ic-avt">
                                                            <img src="../../../assets/img/ic-view.png" alt="">
                                                        </div>
                                                        <p>22</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item">
                                            <a routerLink="/detail-post" class="avt">
                                                <img src="../../../assets/img/item-slider-news-v1-15.png" alt="">
                                            </a>
                                            <div class="desc">
                                                <a routerLink="/detail-post" class="titleA" >Những điệu nhảy truyền thống được yêu thích trên thế giới</a>
                                                <ul class="date-view">
                                                    <li>
                                                        <div class="ic-avt">
                                                            <img src="../../../assets/img/ic-departure.png" alt="">
                                                        </div>
                                                        <p>9/10/2018</p>
                                                    </li>
                                                    <li>
                                                        <div class="ic-avt">
                                                            <img src="../../../assets/img/ic-view.png" alt="">
                                                        </div>
                                                        <p>22</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ss3">
                    <div class="title title2">
                        <h2 class="title_v3a">
                            Kinh nghiệm du lịch
                        </h2>
                        <div class="btn-see-more_v3">
                            <a routerLink="/category">Xem thêm <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div class="slider-news_v1 slider-news_v1a">
                        <ul class="list-root list-item">
                            <li>
                                <div class="item">
                                    <a routerLink="/detail-post" class="avt">
                                        <img src="../../../assets/img/item-slider-news-v1-5.png" alt="">
                                    </a>
                                    <div class="desc">
                                        <a routerLink="/detail-post" class="titleA" >Những điệu nhảy truyền thống được yêu thích trên thế giới</a>
                                        <ul class="date-view">
                                            <li>
                                                <div class="ic-avt">
                                                    <img src="../../../assets/img/ic-departure.png" alt="">
                                                </div>
                                                <p>9/10/2018</p>
                                            </li>
                                            <li>
                                                <div class="ic-avt">
                                                    <img src="../../../assets/img/ic-view.png" alt="">
                                                </div>
                                                <p>22</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item">
                                    <a routerLink="/detail-post" class="avt">
                                        <img src="../../../assets/img/item-slider-news-v1-6.png" alt="">
                                    </a>
                                    <div class="desc">
                                        <a routerLink="/detail-post" class="titleA" >7 điểm đến tuyệt đẹp trên thế giới trong tháng 10 năm nay</a>
                                        <ul class="date-view">
                                            <li>
                                                <div class="ic-avt">
                                                    <img src="../../../assets/img/ic-departure.png" alt="">
                                                </div>
                                                <p>9/10/2018</p>
                                            </li>
                                            <li>
                                                <div class="ic-avt">
                                                    <img src="../../../assets/img/ic-view.png" alt="">
                                                </div>
                                                <p>22</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item">
                                    <a routerLink="/detail-post" class="avt">
                                        <img src="../../../assets/img/item-slider-news-v1-7.png" alt="">
                                    </a>
                                    <div class="desc">
                                        <a routerLink="/detail-post" class="titleA" >Những điệu nhảy truyền thống được yêu thích trên thế giới</a>
                                        <ul class="date-view">
                                            <li>
                                                <div class="ic-avt">
                                                    <img src="../../../assets/img/ic-departure.png" alt="">
                                                </div>
                                                <p>9/10/2018</p>
                                            </li>
                                            <li>
                                                <div class="ic-avt">
                                                    <img src="../../../assets/img/ic-view.png" alt="">
                                                </div>
                                                <p>22</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item">
                                    <a routerLink="/detail-post" class="avt">
                                        <img src="../../../assets/img/item-slider-news-v1-5.png" alt="">
                                    </a>
                                    <div class="desc">
                                        <a routerLink="/detail-post" class="titleA" >Những điệu nhảy truyền thống được yêu thích trên thế giới</a>
                                        <ul class="date-view">
                                            <li>
                                                <div class="ic-avt">
                                                    <img src="../../../assets/img/ic-departure.png" alt="">
                                                </div>
                                                <p>9/10/2018</p>
                                            </li>
                                            <li>
                                                <div class="ic-avt">
                                                    <img src="../../../assets/img/ic-view.png" alt="">
                                                </div>
                                                <p>22</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item">
                                    <a routerLink="/detail-post" class="avt">
                                        <img src="../../../assets/img/item-slider-news-v1-8.png" alt="">
                                    </a>
                                    <div class="desc">
                                        <a routerLink="/detail-post" class="titleA" >7 điểm đến tuyệt đẹp trên thế giới trong tháng 10 năm nay</a>
                                        <ul class="date-view">
                                            <li>
                                                <div class="ic-avt">
                                                    <img src="../../../assets/img/ic-departure.png" alt="">
                                                </div>
                                                <p>9/10/2018</p>
                                            </li>
                                            <li>
                                                <div class="ic-avt">
                                                    <img src="../../../assets/img/ic-view.png" alt="">
                                                </div>
                                                <p>22</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item">
                                    <a routerLink="/detail-post" class="avt">
                                        <img src="../../../assets/img/item-slider-news-v1-9.png" alt="">
                                    </a>
                                    <div class="desc">
                                        <a routerLink="/detail-post" class="titleA" >Những điệu nhảy truyền thống được yêu thích trên thế giới</a>
                                        <ul class="date-view">
                                            <li>
                                                <div class="ic-avt">
                                                    <img src="../../../assets/img/ic-departure.png" alt="">
                                                </div>
                                                <p>9/10/2018</p>
                                            </li>
                                            <li>
                                                <div class="ic-avt">
                                                    <img src="../../../assets/img/ic-view.png" alt="">
                                                </div>
                                                <p>22</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="ss3">
                    <div class="title title2">
                        <h2 class="title_v3a">
                            Tour khuyến mại
                        </h2>
                        <div class="btn-see-more_v3">
                            <a routerLink="/category">Xem thêm <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div class="slider-tour_v1 slider-tour_v1a">
                        <ul class="list-item list-root">
                            <li>
                                <div class="item">
                                    <div class="avt">
                                        <a routerLink="/detail-post" class="img">
                                            <img src="../../../assets/img/item-slider-tour-v1-4.png" alt="">
                                        </a>
                                        <div class="desc-avt">
                                            <div class="price">
                                                <span class="new-price">2.381.000đ</span>
                                                <span class="old-price">2.580.000đ</span>
                                            </div>
                                            <div class="btn-see-more">
                                                <a routerLink="/detail-post">Chi tiết</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="desc">
                                        <h3>
                                            <a routerLink="/detail-post">Du lịch Đà Nẵng - Sơn Trà - Hội An - Bà Nà - Huế</a>
                                        </h3>
                                        <ul class="list-info-summary">
                                            <li>
                                                <div class="ic-avt">
                                                    <img src="../../../assets/img/ic-departure.png" alt="">
                                                </div>
                                                <p>Khời hành: 12,26/10.</p>
                                            </li>
                                            <li>
                                                <div class="ic-avt">
                                                    <img src="../../../assets/img/ic-time.png" alt="">
                                                </div>
                                                <p>Thời gian: 3 ngày 2 đêm</p>
                                            </li>
                                            <li>
                                                <div class="ic-avt">
                                                    <img src="../../../assets/img/ic-planes.png" alt="">
                                                </div>
                                                <p>Phương tiện: máy bay</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item">
                                    <div class="avt">
                                        <a routerLink="/detail-post" class="img">
                                            <img src="../../../assets/img/item-slider-tour-v1-5.png" alt="">
                                        </a>
                                        <div class="desc-avt">
                                            <div class="price">
                                                <span class="new-price">6.500.000đ</span>
                                                <span class="old-price">7.580.000đ</span>
                                            </div>
                                            <div class="btn-see-more">
                                                <a routerLink="/detail-post">Chi tiết</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="desc">
                                        <h3>
                                            <a routerLink="/detail-post">Du lịch Châu Đốc: Rừng tràm Trà Sư (Tour Tiết Kiệm)</a>
                                        </h3>
                                        <ul class="list-info-summary">
                                            <li>
                                                <div class="ic-avt">
                                                    <img src="../../../assets/img/ic-departure.png" alt="">
                                                </div>
                                                <p>Khời hành: 12,26/10.</p>
                                            </li>
                                            <li>
                                                <div class="ic-avt">
                                                    <img src="../../../assets/img/ic-time.png" alt="">
                                                </div>
                                                <p>Thời gian: 3 ngày 2 đêm</p>
                                            </li>
                                            <li>
                                                <div class="ic-avt">
                                                    <img src="../../../assets/img/ic-oto.png" alt="">
                                                </div>
                                                <p>Phương tiện: ô tô</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item">
                                    <div class="avt">
                                        <a routerLink="/detail-post" class="img">
                                            <img src="../../../assets/img/item-slider-tour-v1-6.png" alt="">
                                        </a>
                                        <div class="desc-avt">
                                            <div class="price">
                                                <span class="new-price">18.900.000đ</span>
                                                <span class="old-price">20.900.000đ</span>
                                            </div>
                                            <div class="btn-see-more">
                                                <a routerLink="/detail-post">Chi tiết</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="desc">
                                        <h3>
                                            <a routerLink="/detail-post">Du lịch Đà Nẵng - Bà Nà - Hội An - Huế - Động Phong Nha</a>
                                        </h3>
                                        <ul class="list-info-summary">
                                            <li>
                                                <div class="ic-avt">
                                                    <img src="../../../assets/img/ic-departure.png" alt="">
                                                </div>
                                                <p>Khời hành: 12,26/10.</p>
                                            </li>
                                            <li>
                                                <div class="ic-avt">
                                                    <img src="../../../assets/img/ic-time.png" alt="">
                                                </div>
                                                <p>Thời gian: 3 ngày 2 đêm</p>
                                            </li>
                                            <li>
                                                <div class="ic-avt">
                                                    <img src="../../../assets/img/ic-planes.png" alt="">
                                                </div>
                                                <p>Phương tiện: máy bay</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-child">
                <div class="box-right-bar">
                    <div class="title">
                        <h2 class="title-right-v1">
                            <a routerLink="/detail-post">Xem nhiều nhất</a>
                        </h2>
                    </div>
                    <ul class="list-news-right_v1">
                        <li>
                            <div class="avt">
                                <a routerLink="/detail-post" class="img">
                                    <img src="../../../assets/img/item-news-right-v1-1.png" alt="">
                                </a>
                            </div>
                            <div class="desc">
                                <a routerLink="/detail-post">Hành trình du lịch Đông Bắc của những đôi chân không</a>
                                <ul class="date-view">
                                    <li>
                                        <div class="ic-avt">
                                            <img src="../../../assets/img/ic-departure.png" alt="">
                                        </div>
                                        <p>9/10/2018</p>
                                    </li>
                                    <li>
                                        <div class="ic-avt">
                                            <img src="../../../assets/img/ic-view.png" alt="">
                                        </div>
                                        <p>22</p>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="avt">
                                <a routerLink="/detail-post" class="img">
                                    <img src="../../../assets/img/item-news-right-v1-1.png" alt="">
                                </a>
                            </div>
                            <div class="desc">
                                <a routerLink="/detail-post">Hành trình du lịch Đông Bắc của những đôi chân không</a>
                                <ul class="date-view">
                                    <li>
                                        <div class="ic-avt">
                                            <img src="../../../assets/img/ic-departure.png" alt="">
                                        </div>
                                        <p>9/10/2018</p>
                                    </li>
                                    <li>
                                        <div class="ic-avt">
                                            <img src="../../../assets/img/ic-view.png" alt="">
                                        </div>
                                        <p>22</p>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="avt">
                                <a routerLink="/detail-post" class="img">
                                    <img src="../../../assets/img/item-news-right-v1-1.png" alt="">
                                </a>
                            </div>
                            <div class="desc">
                                <a routerLink="/detail-post">Hành trình du lịch Đông Bắc của những đôi chân không</a>
                                <ul class="date-view">
                                    <li>
                                        <div class="ic-avt">
                                            <img src="../../../assets/img/ic-departure.png" alt="">
                                        </div>
                                        <p>9/10/2018</p>
                                    </li>
                                    <li>
                                        <div class="ic-avt">
                                            <img src="../../../assets/img/ic-view.png" alt="">
                                        </div>
                                        <p>22</p>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="avt">
                                <a routerLink="/detail-post" class="img">
                                    <img src="../../../assets/img/item-news-right-v1-1.png" alt="">
                                </a>
                            </div>
                            <div class="desc">
                                <a routerLink="/detail-post">Hành trình du lịch Đông Bắc của những đôi chân không</a>
                                <ul class="date-view">
                                    <li>
                                        <div class="ic-avt">
                                            <img src="../../../assets/img/ic-departure.png" alt="">
                                        </div>
                                        <p>9/10/2018</p>
                                    </li>
                                    <li>
                                        <div class="ic-avt">
                                            <img src="../../../assets/img/ic-view.png" alt="">
                                        </div>
                                        <p>22</p>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="avt">
                                <a routerLink="/detail-post" class="img">
                                    <img src="../../../assets/img/item-news-right-v1-1.png" alt="">
                                </a>
                            </div>
                            <div class="desc">
                                <a routerLink="/detail-post">Hành trình du lịch Đông Bắc của những đôi chân không</a>
                                <ul class="date-view">
                                    <li>
                                        <div class="ic-avt">
                                            <img src="../../../assets/img/ic-departure.png" alt="">
                                        </div>
                                        <p>9/10/2018</p>
                                    </li>
                                    <li>
                                        <div class="ic-avt">
                                            <img src="../../../assets/img/ic-view.png" alt="">
                                        </div>
                                        <p>22</p>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="avt">
                                <a routerLink="/detail-post" class="img">
                                    <img src="../../../assets/img/item-news-right-v1-1.png" alt="">
                                </a>
                            </div>
                            <div class="desc">
                                <a routerLink="/detail-post">Hành trình du lịch Đông Bắc của những đôi chân không</a>
                                <ul class="date-view">
                                    <li>
                                        <div class="ic-avt">
                                            <img src="../../../assets/img/ic-departure.png" alt="">
                                        </div>
                                        <p>9/10/2018</p>
                                    </li>
                                    <li>
                                        <div class="ic-avt">
                                            <img src="../../../assets/img/ic-view.png" alt="">
                                        </div>
                                        <p>22</p>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>