<div class="row mx-2">
  <div class="col-sm-12 col-md-6">
    <div
      class="dataTables_info"
      id="DataTables_Table_0_info"
      role="status"
      aria-live="polite"
    >
      {{ (currentPage - 1) * itemsPerPage + 1 }} -
      {{ currentPage * itemsPerPage }} of {{ items.length }} items
    </div>
  </div>
  <div class="col-sm-12 col-md-6">
    <div
      class="dataTables_paginate paging_simple_numbers"
      id="DataTables_Table_0_paginate"
    >
      <ul class="pagination align-items-center justify-content-end">
        <li class="page-item" [class.disabled]="currentPage === 1">
          <a
            href="javascript:void(0)"
            class="page-link"
            (click)="currentPage > 1 && onPageChange(currentPage - 1)"
            >Previous</a
          >
        </li>
        <li
          class="page-item"
          *ngFor="let page of [].constructor(totalPages); let i = index"
          [class.active]="currentPage === i + 1"
        >
          <a
            href="javascript:void(0)"
            class="page-link"
            (click)="onPageChange(i + 1)"
            >{{ i + 1 }}</a
          >
        </li>
        <li class="page-item" [class.disabled]="currentPage === totalPages">
          <a
            href="javascript:void(0)"
            class="page-link"
            (click)="currentPage < totalPages && onPageChange(currentPage + 1)"
            >Next</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
