<!-- <div
  class="modal"
  id="edit-dialog"
  [ngStyle]="{ display: isShowEdit ? 'block' : 'none' }"
>
  <div class="modal-dialog dialog-fixed bd-1-main br-05rem bg-white fade">
    <div class="modal-content">
      <div class="modal-header flex justify-sb">
        <div class="dialog-title">
          <h3 class="text-title mb-0">Update Category</h3>
        </div>
        <div class="dialog-btn">
          <a
            class="text-close text-decoration-none cursor"
            (click)="closeDialog()"
          >
            <div class="icon fs-20"><i class="fa-solid fa-xmark"></i></div>
          </a>
        </div>
      </div>
      <div class="modal-body">
        <form action="">
          <div class="row">
            <div class="col-lg-12">
              <div class="mb-3">
                <label class="fw-400" for="">Category</label>
                <input
                  class="p-8-14 w-100 br-05rem form-control"
                  type="text"
                  name="edit"
                  id="edit"
                />
              </div>
            </div>
          </div>
          <button
            type="reset"
            class="btn_cancel btn btn-label-secondary bd-1-main me-sm-3 me-1"
            data-bs-dismiss="offcanvas"
            (click)="closeDialog()"
          >
            Cancel
          </button>
          <button type="submit" class="btn_ok btn btn-primary data-submit">
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</div> -->

<div
  class="modal fade show"
  id="editUser"
  aria-modal="true"
  role="dialog"
  [ngStyle]="{ display: isShowEdit ? 'block' : 'none' }"
>
  <div
    class="modal-dialog modal-lg modal-simple modal-edit-user"
    style="max-width: 500px"
  >
    <div class="modal-content">
      <div class="modal-body">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="closeDialog()"
        ></button>
        <div class="text-center mb-4">
          <h3>Edit Category</h3>
        </div>
        <form
          #formData="ngForm"
          class="row g-3 fv-plugins-bootstrap5 fv-plugins-framework"
          novalidate="novalidate"
          (ngSubmit)="onSubmit(formData.value)"
        >
          <div class="col-12 fv-plugins-icon-container">
            <label class="form-label" for="fullname">Category</label>
            <input
              type="text"
              name="name"
              class="form-control"
              placeholder="Category"
              ngModel
              [(ngModel)]="item.name"
            />
            <div
              class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"
            ></div>
          </div>
          <div class="col-12 text-center">
            <button type="submit" class="btn btn-primary me-sm-3 me-1">
              Submit
            </button>
            <button
              type="button"
              class="btn btn-label-secondary"
              data-bs-dismiss="modal"
              aria-label="Close"
              (click)="closeDialog()"
            >
              Cancel
            </button>
          </div>
          <input type="hidden" />
        </form>
      </div>
    </div>
  </div>
</div>
