<div class="container" style="margin-top: 10px;">
  <div class="row">
    <div class="col-md-8">
      <div class="card mb-4">
        <div class="card-body">
          <h4 class="card-title"><b>{{ post?.title }}</b></h4>
          <p class="">
            <span [innerHtml]="getSanitizedHtml(post?.body)" class="responsive-img-span"></span>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="list-group">
        <article class="blog-post mb-4 p-4 bg-light rounded shadow" *ngFor="let post of posts">
          <a (click)="viewDetails(post.id)" style="cursor: pointer;"><b>{{ post.title }}</b></a>
          <div class="card-text-right">
            <p class="">
              <span [innerHtml]="getSanitizedHtml(post?.body)"></span>
            </p>
          </div>
          <a (click)="viewDetails(post.id)" style="color: #2199e8; cursor: pointer;">Read more…</a>
          <p class="date text-muted">{{ post.formattedDate }}</p>
        </article>
      </div>
    </div>
  </div>
</div>
