<div style="padding: 10px 50px 5px 130px;">
    <!--                    <h2><b>Articles</b></h2>-->
    <!--                    <p class="date text-muted">May 21, 2024</p>-->
                    </div>
                    <!-- Content wrapper -->
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="card mb-4">
                                    <img src="https://i1-vnexpress.vnecdn.net/2024/05/21/683af743-6554-4c1d-908c-d397d6-2619-5790-1716261428.jpg?w=1020&h=0&q=100&dpr=1&fit=crop&s=FBVq5efuCJc7lrO9kKoOIQ"
                                        class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h4 class="card-title"><b>Quốc hội sẽ phê chuẩn miễn nhiệm chức Bộ trưởng Công an
                                                với đại tướng Tô Lâm</b></h4>
                                        <p class="read-more">Quốc hội sẽ phê chuẩn miễn nhiệm chức vụ Bộ trưởng Công an đối
                                            với đại tướng Tô Lâm, thực hiện quy trình bầu ông vào vị trí Chủ tịch nước. <br>
    
                                            Chiều 21/5, thay mặt Ủy ban Thường vụ Quốc hội, Tổng thư ký Bùi Văn Cường trình
                                            bày tờ trình đề nghị điều chỉnh chương trình Kỳ họp thứ 7, Quốc hội khóa 15. <br>
    
                                            Ủy ban Thường vụ Quốc hội đề nghị Quốc hội cho phép bổ sung nội dung phê chuẩn
                                            đề nghị của Thủ tướng về việc miễn nhiệm chức vụ Bộ trưởng Công an với đại tướng
                                            Tô Lâm. Dự kiến, nội dung này được bố trí để Quốc hội thực hiện cùng với quy
                                            trình bầu Chủ tịch nước tại phiên họp chiều 21/5 và sáng 22/5. <br>
    
                                            Theo ông Cường, tờ trình được xây dựng căn cứ vào ý kiến của cấp có thẩm quyền,
                                            thực hiện quy định của pháp luật, yêu cầu kiện toàn bộ máy Nhà nước và xem xét
                                            đề nghị của Thủ tướng. <br>
    
                                            468/469 đại biểu tham gia biểu quyết đã tán thành điều chỉnh chương trình Kỳ họp
                                            thứ 7. <br>
    
                                            Kết quả biểu quyết điều chỉnh chương trình kỳ họp 7, bổ sung nội dung phê chuẩn
                                            đề nghị của Thủ tướng về việc miễn nhiệm chức vụ Bộ trưởng Công an. Ảnh: Sơn Hà
                                            Kết quả biểu quyết điều chỉnh chương trình kỳ họp 7, bổ sung nội dung phê chuẩn
                                            đề nghị của Thủ tướng về việc miễn nhiệm chức vụ Bộ trưởng Công an. Ảnh: Sơn Hà
    
                                            Như vậy cuối giờ chiều nay, Ủy ban Thường vụ Quốc hội trình Quốc hội danh sách
                                            đề cử để Quốc hội bầu Chủ tịch nước; đồng thời, Thủ tướng cũng sẽ trình bày Tờ
                                            trình đề nghị Quốc hội phê chuẩn miễn nhiệm chức vụ Bộ trưởng Công an với ông Tô
                                            Lâm. <br>
    
                                            Năm ngày trước, Trung ương "thống nhất rất cao" giới thiệu đại tướng Tô Lâm, Ủy
                                            viên Bộ Chính trị, Bộ trưởng Công an để Quốc hội bầu giữ chức Chủ tịch nước. <br>
    
                                            Đại tướng Tô Lâm. Ảnh: Media Quốc hội
                                            Đại tướng Tô Lâm. Ảnh: Media Quốc hội
    
                                            Đại tướng Tô Lâm 67 tuổi, quê huyện Văn Giang, tỉnh Hưng Yên, là Ủy viên Trung
                                            ương Đảng ba khóa 11, 12, 13; Ủy viên Bộ Chính trị hai khóa 12, 13; Đại biểu
                                            Quốc hội hai khóa 14, 15. Ông bắt đầu sự nghiệp ở Cục Bảo vệ chính trị I rồi làm
                                            Cục phó Bảo vệ chính trị I, Cục trưởng Bảo vệ chính trị III, Tổng cục An ninh. <br>
    
                                            Ông sau đó làm Tổng cục trưởng Tổng cục An ninh I, Thứ trưởng Công an và giữ
                                            cương vị Bộ trưởng Công an từ tháng 4/2016 đến nay. Ông Tô Lâm cũng là Phó ban
                                            Chỉ đạo Trung ương về phòng chống tham nhũng tiêu cực do Tổng bí thư Nguyễn Phú
                                            Trọng làm Trưởng ban. <br>
    
                                            Bộ Công an hiện có 6 thứ trưởng gồm thượng tướng Trần Quốc Tỏ (thứ trưởng thường
                                            trực), thượng tướng Lương Tam Quang, thượng tướng Nguyễn Duy Ngọc, trung tướng
                                            Lê Quốc Hùng, trung tướng Nguyễn Văn Long và trung tướng Lê Văn Tuyến.</p>
                                        <!-- Thêm nội dung chi tiết của bài viết ở đây -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="list-group">
                                    <article class="blog-post mb-4 p-4 bg-light rounded shadow">
                                       <a href="detail.html"><b>Quốc hội sẽ phê chuẩn miễn nhiệm chức Bộ trưởng Công an với đại tướng Tô Lâm</b></a>
                                            <div class="card-text-right">
                                                <p>
                                                    Ủy ban Thường vụ Quốc hội đề nghị Quốc hội cho phép bổ sung nội dung phê
                                                    chuẩn đề nghị của Thủ tướng về việc miễn
                                                    nhiệm chức vụ Bộ trưởng Công an với đại tướng Tô Lâm
                                                </p>
                                            </div>
                                            <a href="detail.html" class="">Read more…</a>
                                            <p class="date text-muted">May 21, 2024</p>
    
                                    </article>
                                    <article class="blog-post mb-4 p-4 bg-light rounded shadow">
                                        <a href="detail.html"><b>Quốc hội sẽ phê chuẩn miễn nhiệm chức Bộ trưởng Công an với đại tướng Tô Lâm</b></a>
                                             <div class="card-text-right">
                                                 <p>
                                                     Ủy ban Thường vụ Quốc hội đề nghị Quốc hội cho phép bổ sung nội dung phê
                                                     chuẩn đề nghị của Thủ tướng về việc miễn
                                                     nhiệm chức vụ Bộ trưởng Công an với đại tướng Tô Lâm
                                                 </p>
                                             </div>
                                             <a href="detail.html" class="">Read more…</a>
                                             <p class="date text-muted">May 21, 2024</p>
     
                                     </article>
                                     <article class="blog-post mb-4 p-4 bg-light rounded shadow">
                                        <a href="detail.html"><b>Quốc hội sẽ phê chuẩn miễn nhiệm chức Bộ trưởng Công an với đại tướng Tô Lâm</b></a>
                                             <div class="card-text-right">
                                                 <p>
                                                     Ủy ban Thường vụ Quốc hội đề nghị Quốc hội cho phép bổ sung nội dung phê
                                                     chuẩn đề nghị của Thủ tướng về việc miễn
                                                     nhiệm chức vụ Bộ trưởng Công an với đại tướng Tô Lâm
                                                 </p>
                                             </div>
                                             <a href="detail.html" class="">Read more…</a>
                                             <p class="date text-muted">May 21, 2024</p>
     
                                     </article>
                                     <article class="blog-post mb-4 p-4 bg-light rounded shadow">
                                        <a href="detail.html"><b>Quốc hội sẽ phê chuẩn miễn nhiệm chức Bộ trưởng Công an với đại tướng Tô Lâm</b></a>
                                             <div class="card-text-right">
                                                 <p>
                                                     Ủy ban Thường vụ Quốc hội đề nghị Quốc hội cho phép bổ sung nội dung phê
                                                     chuẩn đề nghị của Thủ tướng về việc miễn
                                                     nhiệm chức vụ Bộ trưởng Công an với đại tướng Tô Lâm
                                                 </p>
                                             </div>
                                             <a href="detail.html" class="">Read more…</a>
                                             <p class="date text-muted">May 21, 2024</p>
     
                                     </article>
                                </div>
                            </div>
                        </div>
                    </div>