<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Verify Two Step</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link
      rel="icon"
      type="image/x-icon"
      href="../assets/img/favicon/favicon.ico"
    />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../assets/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link
      rel="stylesheet"
      href="../assets/vendor/css/core.css"
      class="template-customizer-core-css"
    />
    <link
      rel="stylesheet"
      href="../assets/vendor/css/theme-default.css"
      class="template-customizer-theme-css"
    />
    <link rel="stylesheet" href="../assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link
      rel="stylesheet"
      href="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css"
    />
    <link
      rel="stylesheet"
      href="../assets/vendor/libs/apex-charts/apex-charts.css"
    />

    <!-- Page CSS -->

    <link rel="stylesheet" href="../assets/vendor/css/twostep.css" />

    <link rel="stylesheet" href="../assets/vendor/css/pages/page-auth.css" />

    <!-- Helpers -->
    <script src="../assets/vendor/js/helpers.js"></script>
    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="../assets/js/config.js"></script>
  </head>
  <body>
    <div class="container-xxl">
      <div
        class="authentication-wrapper authentication-basic container-p-y zindex-dropdown"
      >
        <div class="emotional card" style="max-width: 900px">
          <div class="row">
            <!-- Modern Wizard -->
            <div class="col-12 mb-4">
              <div class="bs-stepper wizard-modern wizard-modern-example mt-2">
                <div class="bs-stepper-header">
                  <div
                    class="step active"
                    data-target="#account-details-modern"
                  >
                    <button
                      type="button"
                      class="step-trigger"
                      aria-selected="true"
                    >
                      <span class="bs-stepper-circle">1</span>
                      <span class="bs-stepper-label mt-1">
                        <span class="bs-stepper-title">Account Details</span>
                        <span class="bs-stepper-subtitle"
                          >Setup Account Details</span
                        >
                      </span>
                    </button>
                  </div>
                  <div class="line">
                    <i class="bx bx-chevron-right"></i>
                  </div>
                  <div class="step" data-target="#personal-info-modern">
                    <button
                      type="button"
                      class="step-trigger"
                      aria-selected="false"
                    >
                      <span class="bs-stepper-circle">2</span>
                      <span class="bs-stepper-label mt-1">
                        <span class="bs-stepper-title">Personal Info</span>
                        <span class="bs-stepper-subtitle"
                          >Add personal info</span
                        >
                      </span>
                    </button>
                  </div>
                  <div class="line">
                    <i class="bx bx-chevron-right"></i>
                  </div>
                  <div class="step" data-target="#social-links-modern">
                    <button
                      type="button"
                      class="step-trigger"
                      aria-selected="false"
                    >
                      <span class="bs-stepper-circle">3</span>
                      <span class="bs-stepper-label mt-1">
                        <span class="bs-stepper-title">Social Links</span>
                        <span class="bs-stepper-subtitle"
                          >Add social links</span
                        >
                      </span>
                    </button>
                  </div>
                </div>
                <div class="bs-stepper-content">
                  <form onsubmit="return false">
                    <!-- Account Details -->
                    <div
                      id="account-details-modern"
                      class="content active dstepper-block"
                    >
                      <div class="content-header mb-3">
                        <h6 class="mb-0">Account Details</h6>
                        <small>Enter Your Account Details.</small>
                      </div>
                      <div class="row g-3">
                        <div class="col-sm-6">
                          <label class="form-label" for="username-modern"
                            >Username</label
                          >
                          <input
                            type="text"
                            id="username-modern"
                            class="form-control"
                            placeholder="johndoe"
                          />
                        </div>
                        <div class="col-sm-6">
                          <label class="form-label" for="email-modern"
                            >Email</label
                          >
                          <input
                            type="email"
                            id="email-modern"
                            class="form-control"
                            placeholder="john.doe@email.com"
                            aria-label="john.doe"
                          />
                        </div>
                        <div class="col-sm-6 form-password-toggle">
                          <label class="form-label" for="password-modern"
                            >Password</label
                          >
                          <div class="input-group input-group-merge">
                            <input
                              type="password"
                              id="password-modern"
                              class="form-control"
                              placeholder="············"
                              aria-describedby="password2-modern"
                            />
                            <span
                              class="input-group-text cursor-pointer"
                              id="password2-modern"
                              ><i class="bx bx-hide"></i
                            ></span>
                          </div>
                        </div>
                        <div class="col-sm-6 form-password-toggle">
                          <label
                            class="form-label"
                            for="confirm-password-modern"
                            >Confirm Password</label
                          >
                          <div class="input-group input-group-merge">
                            <input
                              type="password"
                              id="confirm-password-modern"
                              class="form-control"
                              placeholder="············"
                              aria-describedby="confirm-password-modern2"
                            />
                            <span
                              class="input-group-text cursor-pointer"
                              id="confirm-password-modern2"
                              ><i class="bx bx-hide"></i
                            ></span>
                          </div>
                        </div>
                        <div class="col-12 d-flex justify-content-between">
                          <button
                            class="btn btn-label-secondary btn-prev"
                            disabled=""
                          >
                            <i class="bx bx-chevron-left bx-sm ms-sm-n2"></i>
                            <span class="align-middle d-sm-inline-block d-none"
                              >Previous</span
                            >
                          </button>
                          <button class="btn btn-primary btn-next">
                            <span
                              class="align-middle d-sm-inline-block d-none me-sm-1"
                              >Next</span
                            >
                            <i class="bx bx-chevron-right bx-sm me-sm-n2"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                    <!-- Personal Info -->
                    <div id="personal-info-modern" class="content">
                      <div class="content-header mb-3">
                        <h6 class="mb-0">Personal Info</h6>
                        <small>Enter Your Personal Info.</small>
                      </div>
                      <div class="row g-3">
                        <div class="col-sm-6">
                          <label class="form-label" for="first-name-modern"
                            >First Name</label
                          >
                          <input
                            type="text"
                            id="first-name-modern"
                            class="form-control"
                            placeholder="John"
                          />
                        </div>
                        <div class="col-sm-6">
                          <label class="form-label" for="last-name-modern"
                            >Last Name</label
                          >
                          <input
                            type="text"
                            id="last-name-modern"
                            class="form-control"
                            placeholder="Doe"
                          />
                        </div>
                        <div class="col-sm-6">
                          <label class="form-label" for="address"
                            >Address</label
                          >
                          <input
                            type="text"
                            id="address"
                            class="form-control"
                            placeholder="Address"
                          />
                        </div>
                        <div class="col-sm-6">
                          <label class="form-label" for="language-modern"
                            >Language</label
                          >
                          <div
                            class="dataTables_length w-100"
                            id="DataTables_Table_0_length"
                          >
                            <select
                              name="DataTables_Table_0_length"
                              aria-controls="DataTables_Table_0"
                              class="form-select"
                            >
                              <option value="">--Select Language--</option>
                              <option value="English">English</option>
                              <option value="Vietnamese">Vietnamese</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-12 d-flex justify-content-between">
                          <button class="btn btn-primary btn-prev">
                            <i class="bx bx-chevron-left bx-sm ms-sm-n2"></i>
                            <span class="align-middle d-sm-inline-block d-none"
                              >Previous</span
                            >
                          </button>
                          <button class="btn btn-primary btn-next">
                            <span
                              class="align-middle d-sm-inline-block d-none me-sm-1"
                              >Next</span
                            >
                            <i class="bx bx-chevron-right bx-sm me-sm-n2"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                    <!-- Social Links -->
                    <div id="social-links-modern" class="content">
                      <div class="content-header mb-3">
                        <h6 class="mb-0">Social Links</h6>
                        <small>Enter Your Social Links.</small>
                      </div>
                      <div class="row g-3">
                        <div class="col-sm-6">
                          <label class="form-label" for="twitter-modern"
                            >Twitter</label
                          >
                          <input
                            type="text"
                            id="twitter-modern"
                            class="form-control"
                            placeholder="https://twitter.com/abc"
                          />
                        </div>
                        <div class="col-sm-6">
                          <label class="form-label" for="facebook-modern"
                            >Facebook</label
                          >
                          <input
                            type="text"
                            id="facebook-modern"
                            class="form-control"
                            placeholder="https://facebook.com/abc"
                          />
                        </div>
                        <div class="col-sm-6">
                          <label class="form-label" for="google-modern"
                            >Google+</label
                          >
                          <input
                            type="text"
                            id="google-modern"
                            class="form-control"
                            placeholder="https://plus.google.com/abc"
                          />
                        </div>
                        <div class="col-sm-6">
                          <label class="form-label" for="linkedin-modern"
                            >LinkedIn</label
                          >
                          <input
                            type="text"
                            id="linkedin-modern"
                            class="form-control"
                            placeholder="https://linkedin.com/abc"
                          />
                        </div>
                        <div class="col-12 d-flex justify-content-between">
                          <button class="btn btn-primary btn-prev">
                            <i class="bx bx-chevron-left bx-sm ms-sm-n2"></i>
                            <span class="align-middle d-sm-inline-block d-none"
                              >Previous</span
                            >
                          </button>
                          <button class="btn btn-success btn-submit">
                            Submit
                          </button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <!-- /Modern Wizard -->
          </div>
        </div>
      </div>
    </div>

    <!-- script -->
    <script src="../assets/vendor/js/twostep.js"></script>
  </body>
</html>
